#loading {
        height: 120px;
        left: 50%;
        margin: -60px 0 0 -60px;
        position: absolute;
        top: 50%;
        width: 120px;
}

#loading .logo{
        background: url("../images/loading-veo.gif") no-repeat scroll 0 0 transparent;
        margin:0 auto;
        display: block;
        height: 120px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 120px;
}



.op5-spec-rsiveo-logo {
	background-image: url("../images/modules/wbbudget-logo.png") !important;
	background-position: center center;
	background-repeat: no-repeat;
	width:100% ;
	height:100% ;
	opacity: 0 ;
}

.op5-spec-rsiveo-mainmenu {
	background-image: url("../images/modules/rsiveo-menu-bg.jpg") !important;
	background-size: cover;
		
}

.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-mainmenu-logo.png") !important;
	display:block;
	width: 368px;
	height: 100px;
	margin-top: 25px ;
	margin-left: 100px;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-separator {
	padding: 5px;
	margin: 15px 0 0 0;
	color: #1582c7;
	border-bottom: 1px solid rgba(21,130,199,0.3);
	display:block;
	text-align:center;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-action {
	margin: 5px;
	padding: 10px;
	text-align: center;
	color: rgb(255, 255, 255);
	width: 104px;
	height: 144px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-item-over .op5-spec-rsiveo-mainmenu-action {
	background-color: rgb(0, 0, 0, 0.2);
	padding: 10px;
	-moz-border-radius: none;
	border-radius: none !important;
	z-index: 2;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}



.op5-spec-rsiveo-mmenu-agenda {
	background-image: url("../images/modules/rsiveo-agenda-64.png") !important;
}
.op5-spec-rsiveo-mmenu-chart {
	background-image: url("../images/modules/rsiveo-chart-64.png") !important;
}
.op5-spec-rsiveo-mmenu-mailout {
	background-image: url("../images/modules/rsiveo-mail-out-64.png") !important;
}
.op5-spec-rsiveo-mmenu-mailin {
	background-image: url("../images/modules/rsiveo-mail-in-64.png") !important;
}
.op5-spec-rsiveo-mmenu-recordtemp {
	background-image: url("../images/modules/rsiveo-recordtemp-64.png") !important;
}
.op5-spec-rsiveo-mmenu-notepad {
	background-image: url("../images/modules/rsiveo-notepad-64.png") !important;
}
.op5-spec-rsiveo-mmenu-cfg {
	background-image: url("../images/modules/rsiveo-cfgsoc-64.png") !important;
}
.op5-spec-rsiveo-mmenu-upload {
	background-image: url("../images/modules/rsiveo-upload-64.png") !important;
}
.op5-spec-rsiveo-mmenu-help {
	background-image: url("../images/modules/rsiveo-help-64.png") !important;
}
.op5-spec-rsiveo-mmenu-passwd {
	background-image: url("../images/modules/rsiveo-passwd-64.png") !important;
}


.op5-spec-rsiveo-reportgrid .x-grid-item {
	border: 0px ;
}
.op5-spec-rsiveo-alm .x-grid-cell {
	background-color: rgba(255,190,121,0.4) ;
}
.op5-spec-rsiveo-pis .x-grid-cell {
	background-color: rgba(183,235,113,0.4) ;
}
.op5-spec-rsiveo-pom .x-grid-cell {
	background-color: rgba(255,122,122,0.4) ;
}
.op5-spec-rsiveo-blue .x-grid-cell-inner {
	background-color: #1437ff ;
	color: white;
	font-weight: bold ;
}
.op5-spec-rsiveo-taupe .x-grid-cell-inner {
	background-color: rgba(220,220,220,0.4) ;
}

.op5-spec-rsiveo-formtext-red .x-form-text {
	background-color: #FF8D8D !important;
}
.op5-spec-rsiveo-negatif .x-form-text {
	color: red ;
	font-weight: bold;
}
.op5-spec-rsiveo-negatif .x-grid-cell-inner {
	color: red ;
	font-weight: bold;
}
.op5-spec-rsiveo-positif .x-grid-cell-inner {
	color: #00008E ;
	font-weight: bold;
}


.op5-spec-rsiveo-factureheader-icon {
	width: 56px ;
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-facture-48.png") !important;
}


.op5-spec-rsiveo-action-agree {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-agree-16.png") !important;
}
.op5-spec-rsiveo-action-bump {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-bump-16.png") !important;
}
.op5-spec-rsiveo-action-callin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-in-16.png") !important;
}
.op5-spec-rsiveo-action-callout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-out-16.png") !important;
}
.op5-spec-rsiveo-action-mailin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-in-16.png") !important;
}
.op5-spec-rsiveo-action-mailout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-out-16.png") !important;
}
.op5-spec-rsiveo-action-email-out {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-email-out-16.png") !important;
}
.op5-spec-rsiveo-action-email-in {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-email-in-16.png") !important;
}
.op5-spec-rsiveo-action-tchat {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-tchat-16.png") !important;
}
.op5-spec-rsiveo-action-tchat-in {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-tchat-in-16.png") !important;
}
.op5-spec-rsiveo-action-tchat-out {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-tchat-out-16.png") !important;
}
.op5-spec-rsiveo-action-litig {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-action-judic {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-action-close {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-close-16.png") !important;
}
.op5-spec-rsiveo-actioncol-spacer .x-action-col-icon {
	margin-left: 3px;
	margin-right: 3px;
}
.op5-spec-rsiveo-icon-priority-off {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-staroff-16.png") !important;
}
.op5-spec-rsiveo-icon-priority-on {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-staron-16.png") !important;
}
.op5-spec-rsiveo-icon-prioritylist-on {
	background-position: 4px center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-staron-16.png") !important;
	padding-left: 24px
}
.op5-spec-rsiveo-icon-prioritylist-off {
	padding-left: 24px
}


.op5-spec-rsiveo-mail-postal-std {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-postal-std-16.png") !important;
}
.op5-spec-rsiveo-mail-postal-rar {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-postal-rar-16.png") !important;
}
.op5-spec-rsiveo-mail-sms {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-sms-16.png") !important;
}
.op5-spec-rsiveo-mail-email {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-email-16.png") !important;
}


.op5-spec-rsiveo-doaction .x-grid-cell-inner {
	cursor: pointer;
	border: 1px solid red;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-process-16.gif") !important;
}
.op5-spec-rsiveo-doaction-ok .x-grid-cell-inner {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/op5img/ico_ok_16.gif") !important;
}
.op5-spec-rsiveo-doaction-wait .x-grid-cell-inner {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/op5img/ico_wait_small.gif") !important;
}
.op5-spec-rsiveo-notification .x-grid-cell-inner {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/op5img/ico_warning_16.gif") !important;
}

.op5-spec-rsiveo-actionstree-depth2 .op5-spec-rsiveo-actionstree-firstcol .x-grid-cell-inner {
	margin-left: 18px
}
.op5-spec-rsiveo-actionstree-firstcol .x-tree-elbow-img {
	display: none ;
}
.op5-spec-rsiveo-actionstree-firstcol .x-tree-icon {
	display: none ;
}

.op5-spec-rsiveo-adrbooktree-depth2 .x-tree-elbow-img {
	display: none ;
}
.op5-spec-rsiveo-adrbooktree-depth2 .x-tree-icon {
	display: none ;
}
.op5-spec-rsiveo-adrbooktree-depth2 .op5-spec-rsiveo-adrbooktree-firstcol .x-grid-cell-inner {
	margin-left: 30px ;
}

.op5-spec-rsiveo-actionstree-rowbody .x-grid-rowbody {
	padding-left: 42px
}
.op5-spec-rsiveo-actionstree-rowbody {
	padding-left: 42px
}


.op5-spec-rsiveo-recordstree-letter-orange {
	background-position: 4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/op5img/ico_orangedot.gif") !important;
	padding-left: 20px ;
}
.op5-spec-rsiveo-recordstree-letter-green {
	background-position: 4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/op5img/ico_greendot.gif") !important;
	padding-left: 20px ;
}


.op5-spec-rsiveo-config-meta-big {
	background-image: url("../images/modules/rsiveo-config-48.png") !important;
}
.op5-spec-rsiveo-config-meta-small {
	background-image: url("../images/modules/rsiveo-config-16.gif") !important;
}
.op5-spec-rsiveo-config-scenarios-big {
	background-image: url("../images/modules/rsiveo-calendar-48.png") !important;
}
.op5-spec-rsiveo-config-scenarios-small {
	background-image: url("../images/modules/rsiveo-calendar-16.png") !important;
}
.op5-spec-rsiveo-config-socs-big {
	background-image: url("../images/op5img/ico_blocs_huge.gif") !important;
}
.op5-spec-rsiveo-config-socs-small {
	background-image: url("../images/op5img/ico_blocs_small.gif") !important;
}
.op5-spec-rsiveo-config-keys-big {
	background-image: url("../images/modules/rsiveo-keys-48.png") !important;
}
.op5-spec-rsiveo-config-keys-small {
	background-image: url("../images/modules/rsiveo-keys-16.png") !important;
}
.op5-spec-rsiveo-config-users-big {
	background-image: url("../images/modules/rsiveo-users-48.png") !important;
}
.op5-spec-rsiveo-config-users-small {
	background-image: url("../images/modules/rsiveo-users-16.png") !important;
}
.op5-spec-rsiveo-config-emails-big {
	background-image: url("../images/modules/rsiveo-emails-48.png") !important;
}
.op5-spec-rsiveo-config-emails-small {
	background-image: url("../images/modules/rsiveo-emails-16.png") !important;
}
.op5-spec-rsiveo-config-pay-big {
	background-image: url("../images/modules/rsiveo-pay-48.png") !important;
}
.op5-spec-rsiveo-config-pay-small {
	background-image: url("../images/modules/rsiveo-pay-16.png") !important;
}


.op5-spec-rsiveo-actionclass-comm {
	background-image: url("../images/modules/rsiveo-role-16.png") !important;
}
.op5-spec-rsiveo-actionclass-file {
	background-image: url("../images/modules/rsiveo-bookmark-16.png") !important;
}
.op5-spec-rsiveo-actionclass-recordtemp {
	background-image: url("../images/modules/rsiveo-quickopen-16.png") !important;
}


.op5-spec-rsiveo-actionsfield {
	height:100px ;
	margin-bottom: 10px ;
}

.op5-spec-rsiveo-actionthumb {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    width: 75px;
    min-height: 75px;
    padding: 5px;
    text-align: center;
    margin: 4px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.op5-spec-rsiveo-actionthumb-select  {
    background-color: #6CC7FF !important;
}
.op5-spec-rsiveo-actionthumb-red  {
    background-color: #FF4141 !important;
}
.op5-spec-rsiveo-actionthumb:hover {
    background-color: #999999;
    border-color: #999999;
}
.op5-spec-rsiveo-actionthumb-icon {
	
}
.op5-spec-rsiveo-actionthumb-header {
	position: absolute ;
	font-size: 11px ;
	padding-left: 4px ;
	padding-top: 4px ;
	top: 0px ;
	left: 0px ;
}
.op5-spec-rsiveo-actionthumb-footer {
	position: absolute ;
	font-size: 11px ;
	bottom: 0px ;
	left: 0px ;
	padding-left: 18px ;
	padding-bottom: 4px ;
}
.op5-spec-rsiveo-actionthumb-footer-done {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-ok-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-wait {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-wait-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-flag {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-redflag-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-skip {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-cancel-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-save {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-save-16.gif") !important;
}


.op5-spec-rsiveo-action-btn .x-btn-inner {
	color: red ;
	font-weight: bold ; 
}


.op5-spec-rsiveo-mailfield {
	height:30px ;
	margin-bottom: 5px ;
}
.op5-spec-rsiveo-mailthumb {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    min-height: 25px;
    padding: 5px;
    text-align: center;
    margin: 4px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.op5-spec-rsiveo-mailthumb-icon {
}
.op5-spec-rsiveo-mailthumb-display {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    min-height: 18px;
    padding: 2px;
    text-align: center;
    margin: 0px 4px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.op5-spec-rsiveo-devnotepad {
	background-image: url("../images/modules/rsiveo-quickopen-16.png") !important;
}


.op5-spec-rsiveo-actiontree-callout .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-call-out-16.png") !important;
}
.op5-spec-rsiveo-actiontree-bump .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-bump-16.png") !important;
}
.op5-spec-rsiveo-actiontree-callin .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-call-in-16.png") !important;
}
.op5-spec-rsiveo-actiontree-mailout .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-mail-out-16.png") !important;
}
.op5-spec-rsiveo-actiontree-emailout .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-email-out-16.png") !important;
}
.op5-spec-rsiveo-actiontree-emailin .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-email-in-16.png") !important;
}
.op5-spec-rsiveo-actiontree-mailin .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-mail-in-16.png") !important;
}
.op5-spec-rsiveo-actiontree-litig .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-actiontree-close .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-close-16.png") !important;
}
.op5-spec-rsiveo-actiontree-agree .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-agree-16.png") !important;
}


.op5-spec-rsiveo-datatoolbar-new {
	background-image: url("../images/modules/rsiveo-new-16.gif") !important;
}
.op5-spec-rsiveo-datatoolbar-edit {
	background-image: url("../images/modules/rsiveo-edit-16.gif") !important;
}
.op5-spec-rsiveo-datatoolbar-refresh {
	background-image: url("../images/modules/rsiveo-viewrefresh-16.png") !important;
}
.op5-spec-rsiveo-datatoolbar-file-export-excel {
	background-image: url("../images/modules/rsiveo-fetch-16.gif") !important;
}
.op5-spec-rsiveo-datatoolbar-file-importdata {
	background-image: url("../images/modules/rsiveo-download-16.png") !important;
}

.op5-spec-rsiveo-grid-view-order {
	background-image: url("../images/modules/rsiveo-order-16.gif") !important;
}
.op5-spec-rsiveo-grid-view-ordergroup {
	background-image: url("../images/modules/rsiveo-ordergroup-16.png") !important;
}
.op5-spec-rsiveo-grid-view-facture {
	background-image: url("../images/modules/rsiveo-quickopen-16.png") !important;
}

.op5-spec-rsiveo-iconimg-oktree {
	background-image: url("../images/modules/rsiveo-filechild-16.gif") !important;
}
.op5-spec-rsiveo-iconimg-nok {
	background-image: url("../images/modules/rsiveo-info-16.gif") !important;
}

.op5-spec-rsiveo-kpi-okgreen {
	background: url('../images/modules/rsiveo-okgreen-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-ok {
	background: url('../images/modules/rsiveo-ok-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-nok {
	background: url('../images/modules/rsiveo-cancel-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-unknown {
	background: url('../images/modules/rsiveo-wait-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-uploading {
	background: url('../images/op5img/ico_loading_16.gif') no-repeat center center ;
}

.op5-spec-rsiveo-boldtext {
	font-weight: bold ;
}

.op5-spec-rsiveo-closeheader-wrap {
	padding-left: 16px ;
}
.op5-spec-rsiveo-closeheader-btn {
	position: absolute ;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
	top:0px;
	left:0px ;
	width:16px ;
	height:16px ;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}



.op5-spec-rsiveo-email-attachment .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-attachment-16.png") !important;
}



.op5-spec-rsiveo-emailheader {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
	
	text-align: left;
	padding: 16px 24px ;
}
.op5-spec-rsiveo-emailheader-wrap {
	position: relative ;
}
.op5-spec-rsiveo-emailheader-icon {
	position: absolute ;
	background-color: transparent !important;
	top:0px;
	left:0px ;
	width:0px ;
	height:100% ;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-rsiveo-emailheader-close {
	position: absolute ;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
	top:16px;
	right:16px ;
	width:16px ;
	height:16px ;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.op5-spec-rsiveo-emailheader-title {
	position: relative ;
	padding-left: 0px ;
	margin-bottom: 8px ;
	font-size: 18px;
	font-weight: bold;
	color: #eeeeee ;
}
.op5-spec-rsiveo-emailheader-caption {
	position: relative ;
	padding-left: 0px ;
	margin-bottom: 4px ;
	font-size: 14px;
	color: #ffffff ;
	
	user-select: text !important;
}
.op5-spec-rsiveo-emailheader-captiontitle {
	position: absolute ;
	top:0px ;
	bottom:0px ;
	width: 100% ;
	line-height: 24px;
}
.op5-spec-rsiveo-emailheader-captionbody {
	position: relative ;
	padding-left: 100px ;
	font-weight: bold ;
}
.op5-spec-rsiveo-emailheader-captionbodytext {
	line-height: 24px;
}
.op5-spec-rsiveo-emailheader-captionicon {
	position: absolute ;
	left: 64px ;
	top: 0px ;
	width: 16px ;
	height: 16px ;
	background-repeat: no-repeat ;
}
.op5-spec-rsiveo-emailheader-captionicontext {
	position: relative ;
	padding-left: 20px ;
}
.op5-spec-rsiveo-emailheader-actions-top {
	float: right ;
	position: absolute ;
	top: 0px ;
	right: 0px ;
}
.op5-spec-rsiveo-emailheader-actions-bottom {
	float: right ;
	position: absolute ;
	bottom: 0px ;
	right: 0px ;
}
.op5-spec-rsiveo-emailheader-action-btn {
	display: inline-block ;
	
	width: 30px ;
	height: 30px ;
	
	background-repeat: no-repeat;
	background-position: center center ;
	 
	border: 2px solid rgb(180, 180, 180);
	padding: 4px ;
	margin: 0px 6px ;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-rsiveo-emailheader-action-space {
	display: inline-block ;
	
	width: 30px ;
	height: 30px ;
}
.op5-spec-rsiveo-emailheader-action-btn:hover {
	background-color: rgb(200, 200, 200);
}
.op5-spec-rsiveo-emailheader-action-btn-attachments {
	background-image: url("../images/modules/rsiveo-attachment-22.png") !important;
}
.op5-spec-rsiveo-emailheader-action-btn-link {
	background-image: url("../images/modules/rsiveo-link-22.png") !important;
}
.op5-spec-rsiveo-emailheader-action-btn-reply {
	background-image: url("../images/modules/rsiveo-reply-22.png") !important;
}
.op5-spec-rsiveo-emailheader-action-btn-replyAll {
	background-image: url("../images/modules/rsiveo-replyAll-22.png") !important;
}
.op5-spec-rsiveo-emailheader-action-btn-transfer {
	background-image: url("../images/modules/rsiveo-transfer-22.png") !important;
}
.op5-spec-rsiveo-emailheader-action-btn-add {
	background-image: url("../images/modules/rsiveo-useradd-16.gif") !important;
}





.op5-spec-rsiveo-emailheadertags-btn {
	background-image: url("../images/add.png") !important;
}
.op5-spec-rsiveo-emailheadertags-field {
	
}

.op5-spec-rsiveo-emailheadertags {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    text-align: center;
    margin: 0px 2px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.op5-spec-rsiveo-emailheadertags:hover {
    background-color: #999999;
    border-color: #999999;
}
.op5-spec-rsiveo-emailheadertags-icodelete {
	position: relative ;
	display: inline-block;
	vertical-align: middle;
	height: 16px ;
	width: 16px;
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
}
.op5-spec-rsiveo-emailheadertags-icoadd {
	position: relative ;
	display: inline-block;
	vertical-align: middle;
	height: 16px ;
	width: 16px;
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-useradd-16.gif") !important;
}
.op5-spec-rsiveo-emailheadertags-text {
	position: relative ;
	display: inline-block;
	vertical-align: middle;
	font-size: 11px ;
	padding: 0px 6px ;
	color: black ;
}
.op5-spec-rsiveo-emailheadertags-text-delete {
}




.op5-spec-rsiveo-reporttile:hover {
	cursor: pointer;
	background-color: #999999;
	border-color: #999999;
}
.op5-spec-rsiveo-reporttile-caption {
	padding: 4px
}
.op5-spec-rsiveo-reporttile-main {
	margin: 4px ;
	position: relative ;
	display: table;
	height: 48px;
}
.op5-spec-rsiveo-reporttile-main-text {
	padding-left: 56px ;
	position: relative ;
	
	display: table-cell;
	vertical-align: middle;
	
	font-size: 32px;
}
.op5-spec-rsiveo-reporttile-main-icon {
	position: absolute ;
	top: 0px ;
	bottom: 0px ;
	left: 0px ;
	width: 48px ;
	height: 48px ;
	background-position: center center ;
	background-repeat: no-repeat ;
}
.op5-spec-rsiveo-reporttile-eval-caption {
	padding: 4px
}
.op5-spec-rsiveo-reporttile-eval {
	margin: 4px ;
	position: relative ;
	display: table;
	height: 32px;
}
.op5-spec-rsiveo-reporttile-eval-text {
	padding-left: 40px ;
	position: relative ;
	
	display: table-cell;
	vertical-align: middle;
	
	font-size: 18px;
}
.op5-spec-rsiveo-reporttile-eval-icon {
	position: absolute ;
	top: 0px ;
	bottom: 0px ;
	left: 0px ;
	width: 32px ;
	height: 32px ;
	background-position: center center ;
	background-repeat: no-repeat ;
}
.op5-spec-rsiveo-reporttile-main-icon-more-good {
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/op5img/ico_arrow-green-up_32.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-more-bad {
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/op5img/ico_arrow-red-up_32.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-less-good {
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/op5img/ico_arrow-green-down_32.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-less-bad {
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/op5img/ico_arrow-red-down_32.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-test {
	background-position: center center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/crmbase-run-48.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-callin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-in-48.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-callout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-out-48.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-mailin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-in-48.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-mailout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-out-48.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-count {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-facture-48.png") !important;
}
.op5-spec-rsiveo-reporttile-main-icon-value-amount {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-recordtemp-48.png") !important;
}


.op5-spec-rsiveo-splitter {
	background-color: gray !important;
}

.op5-spec-rsiveo-legend-view-text {
	font: 12px/16px "Encode Sans Expanded",sans-serif;font-family: "Encode Sans Expanded",sans-serif;
}
.op5-spec-rsiveo-circle-red {
	border-radius: 50%;
	background-color: firebrick;
	padding-bottom: 2px;
	width: 16px;
	height: 16px;	/* width and height can be anything, as long as they're equal */
}

.op5-spec-rsiveo-circle-gray {
	border-radius: 50%;
	background-color: gray;
	padding-bottom: 2px;
	width: 16px;
	height: 16px;	/* width and height can be anything, as long as they're equal */
}

.op5-spec-rsiveo-circle-blue {
	border-radius: 50%;
	background-color: blue;
	padding-bottom: 2px;
	width: 16px;
	height: 16px;	/* width and height can be anything, as long as they're equal */
}

.op5-spec-rsiveo-circle-yellow {
	border-radius: 50%;
	background-color: yellow;
	padding-bottom: 2px;
	width: 16px;
	height: 16px;	/* width and height can be anything, as long as they're equal */
}

.op5-spec-rsiveo-circle-green {
	border-radius: 50%;
	background-color: green;
	padding-bottom: 2px;
	width: 16px;
	height: 16px;	/* width and height can be anything, as long as they're equal */
}


.op5-spec-rsiveo-circle-item {
	float: left;
	position: relative;
	padding-left: 12px ;
	padding-bottom: 4px;
	line-height: 16px ;
	font-size: 14pt;
	margin-right: 40px;
	cursor: pointer	;
	/*border: 2px solid #aaa ;*/
}

.op5-spec-rsiveo-circle-item-icon {
	position: absolute ;
	left: 0px ;
	top: 0px ;
	height: 10px;
	width: 10px;
	margin-right: 15px;
}

.op5-spec-rsiveo-button-red .x-btn-inner {
    color: red !important;
}




.op5-spec-rsiveo-account-notepad {
	font-family: 'Sans' ;
	padding: 10px ;
}

.op5-spec-rsiveo-account-attachement .x-grid-cell-inner {
	background-position: left 8px center;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-file-16.gif") !important;
	padding-left: 40px
}


.op5-spec-rsiveo-dashboard-pages {
	text-align: center ;
	background-color: #eeeeee ;
}
.op5-spec-rsiveo-dashboard-pages-thumb {
		position: relative ;
		
    display: table;
    vertical-align: top;
    width: 130px;
    min-height: 75px;
    padding: 5px;
    text-align: center;
    margin: 8px;
    background: #ccd8e7;
    border: 1px solid #99BBE8;
    border-radius: .5em;
	 
	 background-position: center 8px ;
	 background-repeat: no-repeat;

    user-select: none;
}
.op5-spec-rsiveo-dashboard-pages-thumbtext {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	line-height: 16px;
}
.op5-spec-rsiveo-dashboard-pages-thumb:hover {
    background-color: #999999;
    border-color: #999999;
	 cursor: pointer;
}
.op5-spec-rsiveo-dashboard-pages-thumb-selected  {
    background-color: #2f5584 !important;
	 color: #ffffff ;
}

.op5-spec-rsiveo-dashboard-pageicon-wallet  {
    background-image: url(../images/modules/rsiveo-recordtemp-64.png) ;
}
.op5-spec-rsiveo-dashboard-pageicon-wallet-history  {
    background-image: url(../images/modules/rsiveo-upload-64.png) ;
}
.op5-spec-rsiveo-dashboard-pageicon-actions  {
    background-image: url(../images/modules/rsiveo-mail-out-64.png) ;
}
.op5-spec-rsiveo-dashboard-pageicon-users  {
    background-image: url(../images/modules/rsiveo-help-64.png) ;
}

.op5-spec-rsiveo-dashboard-pagetitle-box {
	display: table ;
}
.op5-spec-rsiveo-dashboard-pagetitle {
	display: table-cell ;
	vertical-align: middle ;
	
	font-family: Play, sans-serif ;
	font-size: 24px ;
	line-height: 26px ;
	color: #2f5584;
	text-align: center ;
}

.op5-spec-rsiveo-dashboard-charttitle-box {
	display: table ;
}
.op5-spec-rsiveo-dashboard-charttitle {
	display: table-cell ;
	vertical-align: middle ;
	
	font-family: Play, sans-serif ;
	font-size: 14px ;
	line-height: 16px ;
	color: #2f5584;
	text-align: center ;
}

.op5-spec-rsiveo-dashboard-grid-bluerow .x-grid-cell-inner {
    background-color: #46d4ff ;
}
.op5-spec-rsiveo-dashboard-grid-orangerow .x-grid-cell-inner {
    background-color: #ffc143 ;
}

.op5-spec-rsiveo-displayform {
	padding: 6px 2px ;
}
.op5-spec-rsiveo-displayform .x-form-item-label {
	min-height: 0px !important;
	font-weight: bold ;
}
.op5-spec-rsiveo-displayform .x-form-item-body {
	min-height: 0px !important;
}
.op5-spec-rsiveo-displayform .x-form-display-field {
	min-height: 0px !important;
}
.op5-spec-rsiveo-displayform .x-form-item {
	margin-bottom: 0px !important;
}
.op5-spec-rsiveo-displayform .x-form-type-text {
	margin-bottom: 4px !important;
}
.op5-spec-rsiveo-risk-displayform .x-fieldset-header-text {
	min-height: 0px !important;
	font-weight: bold ;
}
.op5-spec-rsiveo-risk-displayform .x-form-item-body {
	min-height: 0px !important;
}
.op5-spec-rsiveo-risk-displayform .x-form-display-field {
	min-height: 0px !important;
}
.op5-spec-rsiveo-risk-displayform .x-form-item {
	margin-bottom: 0px !important;
}
.op5-spec-rsiveo-risk-displayform .x-form-type-text {
	margin-bottom: 4px !important;
}

.op5-spec-rsiveo-scenexecpause-false {
	background-position: center ;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-scenexec-play-16.png") !important;
}
.op5-spec-rsiveo-scenexecpause-true {
	background-position: center ;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-scenexec-pause-16.png") !important;
}
.op5-spec-rsiveo-scenexecpause-field-play {
	background-position: 0px center ;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-scenexec-play-16.png") !important;
	padding-left: 24px
}
.op5-spec-rsiveo-scenexecpause-field-pause {
	background-position: 0px center ;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-scenexec-pause-16.png") !important;
	padding-left: 24px
}
.op5-spec-rsiveo-scenexecpause-checked {
	font-weight: bold;
	color: red ;
}

.op5-spec-rsiveo-smspreview pre {
	margin: 4px ;
	font-size: 13px;
	white-space: pre-wrap ;
}

.op5-spec-rsiveo-action-tchat-rowbody-out pre{
	margin: 0;
	padding: 2px 6px ;
	font-family: sans-serif ;
	text-align: right;
	line-break: auto;
	white-space: initial;
}
.op5-spec-rsiveo-action-tchat-rowbody-in pre{
	margin: 0;
	padding: 2px 6px ;
	font-family: sans-serif ;
	text-align: left;
}

.op5-spec-rsiveo-searchbox {
	background-position: center ;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-search-16.gif") !important;
}
