#loading {
        height: 120px;
        left: 50%;
        margin: -60px 0 0 -60px;
        position: absolute;
        top: 50%;
        width: 120px;
}

#loading .logo{
        background: url("../images/loading-veo.gif") no-repeat scroll 0 0 transparent;
        margin:0 auto;
        display: block;
        height: 120px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 120px;
}



.op5-spec-rsiveo-logo {
	background-image: url("../images/modules/wbbudget-logo.png") !important;
	background-position: center center;
	background-repeat: no-repeat;
	width:100% ;
	height:100% ;
	opacity: 0 ;
}

.op5-spec-rsiveo-mainmenu {
	background-image: url("../images/modules/rsiveo-menu-bg.jpg") !important;
	background-size: cover;
		
}

.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-mainmenu-logo.png") !important;
	display:block;
	width: 368px;
	height: 100px;
	margin-top: 25px ;
	margin-left: 100px;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-separator {
	padding: 5px;
	margin: 15px 0 0 0;
	color: #1582c7;
	border-bottom: 1px solid rgba(21,130,199,0.3);
	display:block;
	text-align:center;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-action {
	margin: 5px;
	padding: 10px;
	text-align: center;
	color: rgb(255, 255, 255);
	width: 104px;
	height: 144px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-item-over .op5-spec-rsiveo-mainmenu-action {
	background-color: rgb(0, 0, 0, 0.2);
	padding: 10px;
	-moz-border-radius: none;
	border-radius: none !important;
	z-index: 2;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}



.op5-spec-rsiveo-mmenu-agenda {
	background-image: url("../images/modules/rsiveo-agenda-64.png") !important;
}
.op5-spec-rsiveo-mmenu-mailout {
	background-image: url("../images/modules/rsiveo-mail-out-64.png") !important;
}
.op5-spec-rsiveo-mmenu-mailin {
	background-image: url("../images/modules/rsiveo-mail-in-64.png") !important;
}
.op5-spec-rsiveo-mmenu-recordtemp {
	background-image: url("../images/modules/rsiveo-recordtemp-64.png") !important;
}
.op5-spec-rsiveo-mmenu-notepad {
	background-image: url("../images/modules/rsiveo-notepad-64.png") !important;
}
.op5-spec-rsiveo-mmenu-cfg {
	background-image: url("../images/modules/rsiveo-cfgsoc-64.png") !important;
}
.op5-spec-rsiveo-mmenu-upload {
	background-image: url("../images/modules/rsiveo-upload-64.png") !important;
}


.op5-spec-rsiveo-alm .x-grid-cell-inner {
	background-color: rgba(255,190,121,0.4) ;
}
.op5-spec-rsiveo-pis .x-grid-cell-inner {
	background-color: rgba(183,235,113,0.4) ;
}
.op5-spec-rsiveo-pom .x-grid-cell-inner {
	background-color: rgba(255,122,122,0.4) ;
}
.op5-spec-rsiveo-taupe .x-grid-cell-inner {
	background-color: rgba(220,220,220,0.4) ;
}

.op5-spec-rsiveo-negatif .x-form-text {
	color: red ;
	font-weight: bold;
}
.op5-spec-rsiveo-negatif .x-grid-cell-inner {
	color: red ;
	font-weight: bold;
}
.op5-spec-rsiveo-positif .x-grid-cell-inner {
	color: #00008E ;
	font-weight: bold;
}


.op5-spec-rsiveo-factureheader-icon {
	width: 56px ;
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-facture-48.png") !important;
}


.op5-spec-rsiveo-action-agree {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-agree-16.png") !important;
}
.op5-spec-rsiveo-action-bump {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-bump-16.png") !important;
}
.op5-spec-rsiveo-action-callin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-in-16.png") !important;
}
.op5-spec-rsiveo-action-callout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-out-16.png") !important;
}
.op5-spec-rsiveo-action-mailin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-in-16.png") !important;
}
.op5-spec-rsiveo-action-mailout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-out-16.png") !important;
}
.op5-spec-rsiveo-action-litig {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-action-judic {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-action-close {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-close-16.png") !important;
}
.op5-spec-rsiveo-actioncol-spacer .x-action-col-icon {
	margin-left: 3px;
	margin-right: 3px;
}
.op5-spec-rsiveo-icon-priority-off {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-staroff-16.png") !important;
}
.op5-spec-rsiveo-icon-priority-on {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-staron-16.png") !important;
}


.op5-spec-rsiveo-mail-postal-std {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-postal-std-16.png") !important;
}
.op5-spec-rsiveo-mail-postal-rar {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-postal-rar-16.png") !important;
}
.op5-spec-rsiveo-mail-sms {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-sms-16.png") !important;
}
.op5-spec-rsiveo-mail-email {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-email-16.png") !important;
}


.op5-spec-rsiveo-doaction .x-grid-cell-inner {
	cursor: pointer;
	border: 1px solid red;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-process-16.gif") !important;
}

.op5-spec-rsiveo-actionstree-depth2 .op5-spec-rsiveo-actionstree-firstcol .x-grid-cell-inner {
	margin-left: 18px
}

.op5-spec-rsiveo-adrbooktree-depth2 .x-tree-elbow-img {
	display: none ;
}
.op5-spec-rsiveo-adrbooktree-depth2 .x-tree-icon {
	display: none ;
}
.op5-spec-rsiveo-adrbooktree-depth2 .op5-spec-rsiveo-adrbooktree-firstcol .x-grid-cell-inner {
	margin-left: 30px ;
}

.op5-spec-rsiveo-actionstree-rowbody .x-grid-rowbody {
	padding-left: 42px
}
.op5-spec-rsiveo-actionstree-rowbody {
	padding-left: 42px
}



.op5-spec-rsiveo-config-meta-big {
	background-image: url("../images/modules/rsiveo-config-48.png") !important;
}
.op5-spec-rsiveo-config-meta-small {
	background-image: url("../images/modules/rsiveo-config-16.gif") !important;
}
.op5-spec-rsiveo-config-scenarios-big {
	background-image: url("../images/modules/rsiveo-calendar-48.png") !important;
}
.op5-spec-rsiveo-config-scenarios-small {
	background-image: url("../images/modules/rsiveo-calendar-16.png") !important;
}
.op5-spec-rsiveo-config-socs-big {
	background-image: url("../images/op5img/ico_blocs_huge.gif") !important;
}
.op5-spec-rsiveo-config-socs-small {
	background-image: url("../images/op5img/ico_blocs_small.gif") !important;
}
.op5-spec-rsiveo-config-users-big {
	background-image: url("../images/modules/rsiveo-users-48.png") !important;
}
.op5-spec-rsiveo-config-users-small {
	background-image: url("../images/modules/rsiveo-users-16.png") !important;
}
.op5-spec-rsiveo-config-emails-big {
	background-image: url("../images/modules/rsiveo-emails-48.png") !important;
}
.op5-spec-rsiveo-config-emails-small {
	background-image: url("../images/modules/rsiveo-emails-16.png") !important;
}
.op5-spec-rsiveo-config-pay-big {
	background-image: url("../images/modules/rsiveo-pay-48.png") !important;
}
.op5-spec-rsiveo-config-pay-small {
	background-image: url("../images/modules/rsiveo-pay-16.png") !important;
}


.op5-spec-rsiveo-actionclass-comm {
	background-image: url("../images/modules/rsiveo-role-16.png") !important;
}
.op5-spec-rsiveo-actionclass-file {
	background-image: url("../images/modules/rsiveo-bookmark-16.png") !important;
}
.op5-spec-rsiveo-actionclass-recordtemp {
	background-image: url("../images/modules/rsiveo-quickopen-16.png") !important;
}


.op5-spec-rsiveo-actionsfield {
	height:100px ;
	margin-bottom: 10px ;
}

.op5-spec-rsiveo-actionthumb {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    width: 75px;
    min-height: 75px;
    padding: 5px;
    text-align: center;
    margin: 4px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.op5-spec-rsiveo-actionthumb-select  {
    background-color: #6CC7FF !important;
}
.op5-spec-rsiveo-actionthumb-red  {
    background-color: #FF4141 !important;
}
.op5-spec-rsiveo-actionthumb:hover {
    background-color: #999999;
    border-color: #999999;
}
.op5-spec-rsiveo-actionthumb-icon {
	
}
.op5-spec-rsiveo-actionthumb-header {
	position: absolute ;
	font-size: 11px ;
	padding-left: 4px ;
	padding-top: 4px ;
	top: 0px ;
	left: 0px ;
}
.op5-spec-rsiveo-actionthumb-footer {
	position: absolute ;
	font-size: 11px ;
	bottom: 0px ;
	left: 0px ;
	padding-left: 18px ;
	padding-bottom: 4px ;
}
.op5-spec-rsiveo-actionthumb-footer-done {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-ok-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-wait {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-wait-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-flag {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-redflag-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-skip {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-cancel-16.gif") !important;
}
.op5-spec-rsiveo-actionthumb-footer-save {
	background-position: 0px 0px ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-save-16.gif") !important;
}


.op5-spec-rsiveo-action-btn .x-btn-inner {
	color: red ;
	font-weight: bold ; 
}


.op5-spec-rsiveo-mailfield {
	height:30px ;
	margin-bottom: 5px ;
}
.op5-spec-rsiveo-mailthumb {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    min-height: 25px;
    padding: 5px;
    text-align: center;
    margin: 4px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.op5-spec-rsiveo-mailthumb-icon {
}
.op5-spec-rsiveo-mailthumb-display {
	position: relative ;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    min-height: 18px;
    padding: 2px;
    text-align: center;
    margin: 0px 4px;
    background-color: #ccd8e7;
    border: 1px solid #99BBE8;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.op5-spec-rsiveo-devnotepad {
	background-image: url("../images/modules/rsiveo-quickopen-16.png") !important;
}


.op5-spec-rsiveo-actiontree-callout .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-call-out-16.png") !important;
}
.op5-spec-rsiveo-actiontree-callin .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-call-in-16.png") !important;
}
.op5-spec-rsiveo-actiontree-mailout .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-mail-out-16.png") !important;
}
.op5-spec-rsiveo-actiontree-mailin .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-mail-in-16.png") !important;
}
.op5-spec-rsiveo-actiontree-litig .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-actiontree-close .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-close-16.png") !important;
}
.op5-spec-rsiveo-actiontree-agree .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-agree-16.png") !important;
}


.op5-spec-rsiveo-datatoolbar-new {
	background-image: url("../images/modules/rsiveo-new-16.gif") !important;
}
.op5-spec-rsiveo-datatoolbar-edit {
	background-image: url("../images/modules/rsiveo-edit-16.gif") !important;
}
.op5-spec-rsiveo-datatoolbar-refresh {
	background-image: url("../images/modules/rsiveo-viewrefresh-16.png") !important;
}
.op5-spec-rsiveo-datatoolbar-file-export-excel {
	background-image: url("../images/modules/rsiveo-fetch-16.gif") !important;
}
.op5-spec-rsiveo-datatoolbar-file-importdata {
	background-image: url("../images/modules/rsiveo-download-16.png") !important;
}

.op5-spec-rsiveo-grid-view-order {
	background-image: url("../images/modules/rsiveo-order-16.gif") !important;
}
.op5-spec-rsiveo-grid-view-ordergroup {
	background-image: url("../images/modules/rsiveo-ordergroup-16.png") !important;
}
.op5-spec-rsiveo-grid-view-facture {
	background-image: url("../images/modules/rsiveo-quickopen-16.png") !important;
}

.op5-spec-rsiveo-iconimg-oktree {
	background-image: url("../images/modules/rsiveo-filechild-16.gif") !important;
}
.op5-spec-rsiveo-iconimg-nok {
	background-image: url("../images/modules/rsiveo-info-16.gif") !important;
}

.op5-spec-rsiveo-kpi-okgreen {
	background: url('../images/modules/rsiveo-okgreen-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-ok {
	background: url('../images/modules/rsiveo-ok-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-nok {
	background: url('../images/modules/rsiveo-cancel-16.gif') no-repeat center center ;
}
.op5-spec-rsiveo-kpi-unknown {
	background: url('../images/modules/rsiveo-wait-16.gif') no-repeat center center ;
}

.op5-spec-rsiveo-boldtext {
	font-weight: bold ;
}

.op5-spec-rsiveo-closeheader-wrap {
	padding-left: 16px ;
}
.op5-spec-rsiveo-closeheader-btn {
	position: absolute ;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
	top:0px;
	left:0px ;
	width:16px ;
	height:16px ;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}



.op5-spec-rsiveo-email-attachment .x-grid-cell-inner {
	background-position:  4px center !important;
	background-repeat: no-repeat !important;
	background-image: url("../images/modules/rsiveo-attachment-16.png") !important;
}


