.op5-admin-menu-users {
	background-image: url("../images/modules/admin-users-48.png") !important;
}
.op5-admin-menu-users-icon {
	background-image: url("../images/modules/admin-users-16.png") !important;
}
.op5-admin-menu-sdomains {
	background-image: url("../images/modules/admin-sdomains-48.png") !important;
}
.op5-admin-menu-sdomains-icon {
	background-image: url("../images/modules/admin-sdomains-16.png") !important;
}

.op5-admin-column-padlock .x-column-header-inner {
	background-image: url("../images/modules/admin-padlock-16.gif") !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.op5-sdomains-menu-submit {
	background-image: url("../images/modules/admin-save-16.gif") !important;
}
.op5-sdomains-menu-new {
	background-image: url("../images/modules/admin-new-16.gif") !important;
}
.op5-sdomains-menu-actions {
	background-image: url("../images/modules/admin-process-16.gif") !important;
}
.op5-sdomains-menu-import {
	background-image: url("../images/modules/admin-import-16.png") !important;
}
.op5-sdomains-menu-export {
	background-image: url("../images/modules/admin-export-16.png") !important;
}
.op5-sdomains-menu-delete {
	background-image: url("../images/modules/admin-delete-16.gif") !important;
}
.op5-sdomains-menu-back {
	background-image: url("../images/modules/admin-back-16.png") !important;
}


.op5-sdomains-icon-export {
	background-image: url("../images/modules/admin-export-48.png") !important;
}
.op5-sdomains-icon-import {
	background-image: url("../images/modules/admin-import-48.png") !important;
}
.op5-sdomains-icon-delete {
	background-image: url("../images/modules/admin-delete-48.png") !important;
}

.op5-admin-cardheader-wrap {
	position: relative;
	border-color:#aaaaaa;
	border-style:solid;
	border-width: 0 0 1px 0 ;
	padding-left: 72px;
	padding-top:12px;
	padding-bottom:12px;
	height:72px;
}
.op5-admin-cardheader-icon {
    position: absolute;
    top: 12px;
    left: 12px;    
    background-repeat: no-repeat;
    background-position: center center ;
    width: 48px;
    height: 48px;
}
.op5-admin-cardheader-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
.op5-admin-cardheader-caption {
	font-size: 11px;
	padding-left:4px;
}


.op5-auth-menu-new {
	background-image: url("../images/modules/admin-new-16.gif") !important;
}
.op5-auth-panel-users {
	background-image: url("../images/modules/admin-user-16.png") !important;
}
.op5-auth-panel-groups {
	background-image: url("../images/modules/admin-group-16.png") !important;
}
