.op5-admin-menu-users {
	background-image: url("../images/modules/admin-users-48.png") !important;
}
.op5-admin-menu-users-icon {
	background-image: url("../images/modules/admin-users-16.png") !important;
}
.op5-admin-menu-sdomains {
	background-image: url("../images/modules/admin-sdomains-48.png") !important;
}
.op5-admin-menu-sdomains-icon {
	background-image: url("../images/modules/admin-sdomains-16.png") !important;
}

.op5-admin-column-padlock .x-column-header-inner {
	background-image: url("../images/modules/admin-padlock-16.gif") !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.op5-sdomains-menu-submit {
	background-image: url("../images/modules/admin-save-16.gif") !important;
}
.op5-sdomains-menu-new {
	background-image: url("../images/modules/admin-new-16.gif") !important;
}
