.op5-spec-dbstracy-logo {
	background-image: url("../images/modules/wbbudget-logo.png") !important;
	background-position: center center;
	background-repeat: no-repeat;
	width:100% ;
	height:100% ;
	opacity: 0 ;
}

.op5-spec-dbstracy-mainmenu {
	background: rgb(159, 159, 159);
	background-attachment: scroll;
	background-clip: border-box;
	background-image: -ms-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -moz-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 900, from(rgb(75, 126, 152)), to(rgb(26, 51, 76)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b7e98', endColorstr='#1a334c');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 100% 100%;
	
	text-align:center;
}

.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-mainmenu-logo.png") !important;
	display:block;
	width: 500px;
	height: 100px;
	margin: 5px ;
}
.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-separator {
	padding: 5px;
	margin: 0px 5px;
	color: rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	display:block;
	text-align:left;
	font-size: 14px;
}
.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-action {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 104px;
	height: 124px;
	overflow: hidden;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-action-active {
	cursor: pointer;
}
.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-item-over .op5-spec-dbstracy-mainmenu-action-active {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-dbstracy-mainmenu .op5-spec-dbstracy-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}



.op5-spec-dbstracy-mmenu-files {
	background-image: url("../images/modules/dbstracy-files-64.png") !important;
}
.op5-spec-dbstracy-mmenu-create {
	background-image: url("../images/modules/dbstracy-create-64.png") !important;
}
.op5-spec-dbstracy-mmenu-attachments {
	background-image: url("../images/modules/dbstracy-attachment-64.png") !important;
}


.op5-spec-dbstracy-alm .x-grid-cell-inner {
	background-color: rgba(255,190,121,0.4) ;
}
.op5-spec-dbstracy-pis .x-grid-cell-inner {
	background-color: rgba(183,235,113,0.4) ;
}
.op5-spec-dbstracy-pom .x-grid-cell-inner {
	background-color: rgba(255,122,122,0.4) ;
}


.op5-spec-dbstracy-feedgrid .x-grid-rowbody {
    margin: 5px 20px 10px 25px !important;
    color: #555;
    font-size: 11px;
}
.op5-spec-dbstracy-feedgrid .x-rtl .x-grid-rowbody {
    margin: 5px 25px 10px 20px !important;
}


.op5-spec-dbstracy-grid-view-order {
	background-image: url("../images/modules/dbstracy-order-16.gif") !important;
}
.op5-spec-dbstracy-grid-view-ordergroup {
	background-image: url("../images/modules/dbstracy-ordergroup-16.png") !important;
}
.op5-spec-dbstracy-grid-view-trspt {
	background-image: url("../images/modules/dbstracy-trspt-16.png") !important;
}


.op5-spec-dbstracy-files-grid .x-grid-cell-inner { 
	white-space: normal;
}

.op5-spec-dbstracy-bigcolumn .x-grid-cell-inner { 
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}


.op5-spec-dbstracy-gridcell-green .x-grid-cell-inner { 
	background-color: #2AFF00;
}
.op5-spec-dbstracy-gridcell-orange .x-grid-cell-inner { 
	background-color: #FFB300;
}
.op5-spec-dbstracy-gridcell-red .x-grid-cell-inner { 
	background-color: #FF2B2B;
}
.op5-spec-dbstracy-gridcell-nobold { 
	border: 1px solid transparent;
}
.op5-spec-dbstracy-gridcell-nobold .x-grid-cell-inner { 
	border: 1px solid transparent;
	font-weight: normal;
}
.op5-spec-dbstracy-gridcell-bold {
	border: 1px solid transparent;
}
.op5-spec-dbstracy-gridcell-bold .x-grid-cell-inner { 
	border: 1px solid black;
	font-weight: normal;
}

.op5-spec-dbstracy-attachments-icon {
	background-image: url("../images/modules/dbstracy-attachment-16.png") !important;
}
