.op5-crmbase-mainwindow-bible {
	background-image: url("../images/modules/crmbase-dataadd-22.gif") !important;
}
.op5-crmbase-mainwindow-files {
	background-image: url("../images/modules/crmbase-filelist-22.png") !important;
}
.op5-crmbase-mainwindow-query {
	background-image: url("../images/modules/crmbase-process-22.gif") !important;
}
.op5-crmbase-mainwindow-scen {
	background-image: url("../images/modules/crmbase-engins-22.gif") !important;
}
.op5-crmbase-mainwindow-admin {
	background-image: url("../images/modules/crmbase-users-22.gif") !important;
}

.op5-spec-mrfoxy-icon-promotion {
	background-image: url("../images/modules/mrfoxy-promotion-64.png") !important;
}
.op5-spec-mrfoxy-icon-headlines {
	background-image: url("../images/modules/mrfoxy-headlines-64.png") !important;
}
.op5-spec-mrfoxy-icon-promostore {
	background-image: url("../images/modules/mrfoxy-promostore-64.png") !important;
}
.op5-spec-mrfoxy-icon-calendar {
	background-image: url("../images/modules/mrfoxy-calendar-64.png") !important;
}
.op5-spec-mrfoxy-icon-statperf {
	background-image: url("../images/modules/mrfoxy-performance-64.jpg") !important;
}
.op5-spec-mrfoxy-icon-statfinance {
	background-image: url("../images/modules/mrfoxy-finance-64.png") !important;
}
.op5-spec-mrfoxy-icon-statquery {
	background-image: url("../images/modules/mrfoxy-query-64.png") !important;
}


.op5-spec-mrfoxy-logo {
	background-image: url("../images/modules/mrfoxy-logo.png") !important;
	background-position: center center;
	background-repeat: no-repeat;
	width:100% ;
	height:100% ;
	opacity: 0 ;
}

.op5-spec-mrfoxy-mainmenu {
	background: rgb(159, 159, 159);
	background-attachment: scroll;
	background-clip: border-box;
	background-image: -ms-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -moz-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 900, from(rgb(75, 126, 152)), to(rgb(26, 51, 76)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b7e98', endColorstr='#1a334c');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 100% 100%;
	
	text-align:center;
}

.op5-spec-mrfoxy-mainmenu .op5-spec-mrfoxy-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-mrfoxy-mainmenu .op5-spec-mrfoxy-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/mrfoxy-mainmenu-logo3.png") !important;
	display:block;
	width: 500px;
	height: 100px;
	margin: 5px ;
}
.op5-spec-mrfoxy-mainmenu .op5-spec-mrfoxy-mainmenu-separator {
	padding: 5px;
	margin: 0px 5px;
	color: rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	display:block;
	text-align:left;
	font-size: 14px;
}
.op5-spec-mrfoxy-mainmenu .op5-spec-mrfoxy-mainmenu-action {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 104px;
	height: 124px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-mrfoxy-mainmenu .op5-spec-mrfoxy-mainmenu-item-over .op5-spec-mrfoxy-mainmenu-action {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-mrfoxy-mainmenu .op5-spec-mrfoxy-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}


.op5-spec-mrfoxy-promoformheader {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
	
	text-align: left;
	padding: 16px 24px ;
}
.op5-spec-mrfoxy-promoformheader-icon {
	position: absolute ;
	background-image: url("../images/modules/mrfoxy-promotion-64.png") !important;
	top:0px;
	left:24px ;
	width:64px ;
	height:100% ;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-mrfoxy-promoformheader-close {
	position: absolute ;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
	top:16px;
	right:16px ;
	width:16px ;
	height:16px ;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.op5-spec-mrfoxy-promoformheader-title {
	position: relative ;
	padding-left: 96px ;
	margin-bottom: 8px ;
	font-size: 18px;
	font-weight: bold;
	color: #eeeeee ;
}
.op5-spec-mrfoxy-promoformheader-caption {
	position: relative ;
	padding-left: 112px ;
	margin-bottom: 4px ;
	font-size: 14px;
	color: #ffffff ;
}
.op5-spec-mrfoxy-promoformheader-captiontitle {
	position: absolute ;
	top:0px ;
	bottom:0px ;
	width: 100% ;
}
.op5-spec-mrfoxy-promoformheader-captionbody {
	position: relative ;
	padding-left: 64px ;
	font-weight: bold ;
}
.op5-spec-mrfoxy-promoformheader-captionicon {
	position: absolute ;
	left: 64px ;
	top: 0px ;
	width: 16px ;
	height: 16px ;
	background-repeat: no-repeat ;
}
.op5-spec-mrfoxy-promoformheader-captionicontext {
	position: relative ;
	padding-left: 20px ;
}
.x-grid-row .op5-spec-mrfoxy-promoformlist-skucolumn {
	font-weight: bold; 
}
.x-grid-row .op5-spec-mrfoxy-promoformlist-editablecolumn {
	background-color: #BAF9CE;
}


.op5-spec-mrfoxy-promolist-progress .x-progress-text {
	line-height: inherit ;
}

.op5-spec-mrfoxy-promosch-today {
	background-color: rgb(232, 232, 232) ;
}

.sch-event {
	border-radius: 8px;
}

.op5-spec-mrfoxy-promorow-item {
	display:block;
	position:relative;
	border:1px solid rgb(255, 255, 255)
}
.op5-spec-mrfoxy-promorow-action {
	position: relative ;
	padding-left: 24px ;
	line-height: 18px ;
	margin-top: 2px;
	margin-bottom: 2px;
}
.op5-spec-mrfoxy-promorow-item-over {
	border: 1px solid rgb(120, 120, 120);
	-moz-border-radius: 6px;
	border-radius: 6px !important;
	z-index: 2;
}
.op5-spec-mrfoxy-promorow-action-icon {
	position: absolute;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
	top:0px;
	left:4px ;
	width:16px ;
	height:16px ;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-mrfoxy-promorow-action-icon-approval {
	background-image: url("../images/modules/mrfoxy-redflag-16.gif") !important;
}
.op5-spec-mrfoxy-promorow-action-icon-viewinternal {
	background-image: url("../images/modules/mrfoxy-kchartpriv-16.png") !important;
}
.op5-spec-mrfoxy-promorow-action-icon-viewpublic {
	background-image: url("../images/modules/crmbase-kchart-16.png") !important;
}
.op5-spec-mrfoxy-promorow-action-icon-download {
	background-image: url("../images/op5img/ico_save_16.gif") !important;
}
.op5-spec-mrfoxy-promorow-action-icon-edit {
	background-image: url("../images/op5img/ico_edit_small.gif") !important;
}
.op5-spec-mrfoxy-promorow-action-icon-delete {
	background-image: url("../images/op5img/ico_delete_16.gif") !important;
}
.op5-spec-mrfoxy-promorow-action-icon-close {
	background-image: url("../images/modules/mrfoxy-ok-16.gif") !important;
}

.op5-spec-mrfoxy-promorow-fieldset-edit {
	background-image: url("../images/op5img/ico_edit_small.gif") !important;
}
.op5-spec-mrfoxy-promorow-fieldset-cancel {
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
}

.op5-spec-mrfoxy-promorow-approval-disabled {
	color: #999999;
	padding-left: 10px;
}
.op5-spec-mrfoxy-promorow-approval-enabled {
	color: black;
	padding-left: 10px;
}


.op5-spec-mrfoxy-promolist-benchmark-saveicon {
	background-image: url("../images/op5img/ico_save_16.gif") !important;
}
.op5-spec-mrfoxy-promolist-benchmark-goicon {
	background-image: url("../images/modules/crmbase-kchart-16.png") !important;
}


.op5-spec-mrfoxy-benchmarkassign-lgd {
	text-align: center ;
	color: rgb(64, 64, 64);
	font-size: 11px ;
	padding: 4px;
}
.op5-spec-mrfoxy-benchmarkassign-go {
	text-align: center ;
}
.op5-spec-mrfoxy-benchmarkassign-go-btn {
	display: inline-block ;
	
	width: 48px ;
	height: 48px ;
	
    background-repeat: no-repeat;
    background-position: center center ;
	 background-image: url("../images/modules/crmbase-import-32.png") !important;
	 
	border: 1px solid rgb(90, 90, 90);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-mrfoxy-benchmarkassign-go-over .op5-spec-mrfoxy-benchmarkassign-go-btn {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(150, 150, 150);
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}


.op5-spec-mrfoxy-statheader {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
	
	text-align: left;
	padding: 16px 24px ;
}
.op5-spec-mrfoxy-statheader-icon {
	position: absolute ;
	top:0px;
	left:24px ;
	width:64px ;
	height:100% ;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-mrfoxy-statheader-close {
	position: absolute ;
	background-image: url("../images/op5img/ico_cancel_small.gif") !important;
	top:16px;
	right:16px ;
	width:16px ;
	height:16px ;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.op5-spec-mrfoxy-statheader-title {
	position: relative ;
	padding-left: 96px ;
	margin-bottom: 8px ;
	font-size: 18px;
	font-weight: bold;
	color: #eeeeee ;
}


