.op5-spec-rsiveo-logo {
	background-image: url("../images/modules/wbbudget-logo.png") !important;
	background-position: center center;
	background-repeat: no-repeat;
	width:100% ;
	height:100% ;
	opacity: 0 ;
}

.op5-spec-rsiveo-mainmenu {
	background: rgb(159, 159, 159);
	background-attachment: scroll;
	background-clip: border-box;
	background-image: -ms-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -moz-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 900, from(rgb(75, 126, 152)), to(rgb(26, 51, 76)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b7e98', endColorstr='#1a334c');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 100% 100%;
	
	text-align:center;
}

.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/rsiveo-mainmenu-logo.png") !important;
	display:block;
	width: 368px;
	height: 100px;
	margin: 5px ;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-separator {
	padding: 5px;
	margin: 0px 5px;
	color: rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	display:block;
	text-align:left;
	font-size: 14px;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-action {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 104px;
	height: 124px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-item-over .op5-spec-rsiveo-mainmenu-action {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-rsiveo-mainmenu .op5-spec-rsiveo-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}



.op5-spec-rsiveo-mmenu-agenda {
	background-image: url("../images/modules/rsiveo-agenda-64.png") !important;
}
.op5-spec-rsiveo-mmenu-mailout {
	background-image: url("../images/modules/rsiveo-mail-out-64.png") !important;
}
.op5-spec-rsiveo-mmenu-mailin {
	background-image: url("../images/modules/rsiveo-mail-in-64.png") !important;
}


.op5-spec-rsiveo-alm .x-grid-cell-inner {
	background-color: rgba(255,190,121,0.4) ;
}
.op5-spec-rsiveo-pis .x-grid-cell-inner {
	background-color: rgba(183,235,113,0.4) ;
}
.op5-spec-rsiveo-pom .x-grid-cell-inner {
	background-color: rgba(255,122,122,0.4) ;
}

.op5-spec-rsiveo-negatif .x-form-text {
	color: red ;
	font-weight: bold;
}
.op5-spec-rsiveo-negatif .x-grid-cell-inner {
	color: red ;
	font-weight: bold;
}
.op5-spec-rsiveo-positif .x-grid-cell-inner {
	color: #00008E ;
	font-weight: bold;
}


.op5-spec-rsiveo-factureheader-icon {
	width: 56px ;
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-facture-48.png") !important;
}


.op5-spec-rsiveo-action-agree {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-agree-16.png") !important;
}
.op5-spec-rsiveo-action-bump {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-bump-16.png") !important;
}
.op5-spec-rsiveo-action-callin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-in-16.png") !important;
}
.op5-spec-rsiveo-action-callout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-call-out-16.png") !important;
}
.op5-spec-rsiveo-action-mailin {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-in-16.png") !important;
}
.op5-spec-rsiveo-action-mailout {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-mail-out-16.png") !important;
}
.op5-spec-rsiveo-action-litig {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-litig-16.png") !important;
}
.op5-spec-rsiveo-action-close {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/rsiveo-close-16.png") !important;
}
.op5-spec-rsiveo-action-spacer {
	width: 8px
}

.op5-spec-rsiveo-doaction {
	cursor: pointer;
	border: 1px solid red;
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/crmbase-process-16.gif") !important;
}

.op5-spec-rsiveo-actionstree-depth2 .op5-spec-rsiveo-actionstree-firstcol .x-grid-cell-inner {
	margin-left: 18px
}
.op5-spec-rsiveo-actionstree-rowbody .x-grid-rowbody {
	padding-left: 42px
}



.op5-spec-rsiveo-config-meta-big {
	background-image: url("../images/modules/rsiveo-config-48.png") !important;
}
.op5-spec-rsiveo-config-meta-small {
	background-image: url("../images/modules/rsiveo-config-16.gif") !important;
}
.op5-spec-rsiveo-config-scenarios-big {
	background-image: url("../images/modules/rsiveo-calendar-48.png") !important;
}
.op5-spec-rsiveo-config-scenarios-small {
	background-image: url("../images/modules/rsiveo-calendar-16.png") !important;
}
.op5-spec-rsiveo-config-users-big {
	background-image: url("../images/modules/rsiveo-users-48.png") !important;
}
.op5-spec-rsiveo-config-users-small {
	background-image: url("../images/modules/rsiveo-users-16.png") !important;
}
.op5-spec-rsiveo-config-pay-big {
	background-image: url("../images/modules/rsiveo-pay-48.png") !important;
}
.op5-spec-rsiveo-config-pay-small {
	background-image: url("../images/modules/rsiveo-pay-16.png") !important;
}


.op5-spec-rsiveo-actionclass-comm {
	background-image: url("../images/modules/dbspeople-role-16.png") !important;
}
.op5-spec-rsiveo-actionclass-file {
	background-image: url("../images/modules/crmbase-bookmark-16.png") !important;
}

.op5-spec-rsiveo-action-btn .x-btn-inner {
	color: red ;
	font-weight: bold ; 
}
