.op5-spec-dbsembramach-mainmenu {
	background: rgb(159, 159, 159);
	background-attachment: scroll;
	background-clip: border-box;
	background-image: -ms-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -moz-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 900, from(rgb(75, 126, 152)), to(rgb(26, 51, 76)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b7e98', endColorstr='#1a334c');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 100% 100%;
	
	text-align:center;
}

.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-mainmenu-logo.png") !important;
	display:block;
	width: 500px;
	height: 93px;
	margin: 20px ;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-separator {
	padding: 5px;
	margin: 0px 5px;
	color: rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	display:block;
	text-align:left;
	font-size: 14px;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-action {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 104px;
	height: 124px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-item-over .op5-spec-dbsembramach-mainmenu-action {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}


.op5-spec-embramach-banner {
	background-color: white;
}
.op5-spec-embramach-banner-logo {
	width: 270px;
	height: 48px;
	background-color: white;
	background-image: url("../images/modules/dbsembramach-logo.png") !important;
	background-position: center center ;
	background-repeat: no-repeat;
}
.op5-spec-embramach-banner-title {
	text-align: left;
	line-height: 40px;
	font-size: 24px;
	font-weight: bold ;
	font-family: 'Droid Sans';
	padding: 0px 16px
}
.op5-spec-embramach-banner-blue {
	background-color: #010066 ;
}


.op5-spec-dbsembramach-icon-mach {
	background-image: url("../images/modules/dbsembramach-dashboard-64.png") !important;
}


.op5-spec-dbsembramach-mach-grid .x-grid-cell-inner { 
	white-space: normal;
}

.op5-spec-dbsembramach-bigcolumn .x-grid-cell-inner { 
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.op5-spec-dbsembramach-gridcell-green .x-grid-cell-inner { 
	background-color: #2AFF00;
}
.op5-spec-dbsembramach-gridcell-orange .x-grid-cell-inner { 
	background-color: #FFB300;
}
.op5-spec-dbsembramach-gridcell-red .x-grid-cell-inner { 
	background-color: #FF2B2B;
}
