.op5-crmmbase-mainwindowbtn-title {
	font-size: 13px;
	font-weight: bold;
}
.op5-crmmbase-mainwindowbtn-redcount {
	font-size: 12px;
	font-weight: bold;
	color: red;
}
.op5-crmmbase-mainwindowbtn-caption {
	font-size: 11px;
	padding-left:4px;
}


.op5-crmbase-qsimpleheader-wrap {
	position: relative;
	background-color: #D1E0F1;
	height:100%;
	padding-left: 152px;
	padding-top:12px;
	padding-bottom:12px;
}
.op5-crmbase-qsimpleheader-icon {
    position: absolute;
    top: 4px;
    left: 4px;    
    background-repeat: no-repeat;
    background-position: center center ;
	 background-image: url("../images/modules/crmbase-run-48.png") !important;
    width: 144px;
    height: 72px;
}
.op5-crmmbase-qsimpleheader-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
}
.op5-crmmbase-qsimpleheader-caption {
	font-size: 11px;
	padding-left:4px;
}


.op5-crmbase-query-groupextrapolate-row .x-grid-cell {
	background-color: #FF8587 ;
}



.op5-crmbase-published .x-menu-item-text {
	border-bottom: 2px solid #33B6E5 ;
}
.op5-crmbase-published .x-btn-inner {
	border-bottom: 2px solid #33B6E5 ;
}



.op5-crmbase-menuitem-boldunderline .x-menu-item-text {
	font-weight: bold ;
	text-decoration: underline ;
}




/* Icons */
.op5-crmbase-waitcircle {
	background-image: url("../images/modules/crmbase-waitcircle.gif") !important;
}

.op5-crmbase-authandroidwindow-icon {
	background-image: url("../images/modules/crmbase-android-16.png") !important;
}

.op5-crmbase-definewindow-icon {
	background-image: url("../images/modules/crmbase-config-16.gif") !important;
}

.op5-crmbase-dataformwindow-icon {
	background-image: url("../images/modules/crmbase-edit-16.gif") !important;
}
.op5-crmbase-dataformwindow-photo-icon {
	background-image: url("../images/modules/crmbase-camera-16.png") !important;
}

.op5-crmbase-mainwindow-bible {
	background-image: url("../images/modules/crmbase-dataadd-22.gif") !important;
}
.op5-crmbase-mainwindow-files {
	background-image: url("../images/modules/crmbase-filelist-22.png") !important;
}
.op5-crmbase-mainwindow-query {
	background-image: url("../images/modules/crmbase-process-22.gif") !important;
}
.op5-crmbase-mainwindow-scen {
	background-image: url("../images/modules/crmbase-engins-22.gif") !important;
}
.op5-crmbase-mainwindow-admin {
	background-image: url("../images/modules/crmbase-users-22.gif") !important;
}
.op5-crmbase-mainwindow-admin-authaccounts {
	background-image: url("../images/modules/crmbase-kuser-16.gif") !important;
}
.op5-crmbase-mainwindow-admin-authandroid {
	background-image: url("../images/modules/crmbase-android-16.png") !important;
}

.op5-crmbase-datatoolbar-new {
	background-image: url("../images/modules/crmbase-new-16.gif") !important;
}
.op5-crmbase-datatoolbar-file {
	background-image: url("../images/modules/crmbase-save-16.gif") !important;
}
.op5-crmbase-datatoolbar-file-export-excel {
	background-image: url("../images/modules/crmbase-save-16.gif") !important;
}
.op5-crmbase-datatoolbar-file-export-gallery {
	background-image: url("../images/modules/crmbase-saveas-16.gif") !important;
}
.op5-crmbase-datatoolbar-view {
	background-image: url("../images/modules/crmbase-piece-16.png") !important;
}
.op5-crmbase-datatoolbar-view-grid {
	background-image: url("../images/modules/crmbase-listall-16.gif") !important;
}
.op5-crmbase-datatoolbar-view-editgrid {
	background-image: url("../images/modules/crmbase-editgrid-16.png") !important;
}
.op5-crmbase-datatoolbar-view-gmap {
	background-image: url("../images/modules/crmbase-planet-16.gif") !important;
}
.op5-crmbase-datatoolbar-view-gallery {
	background-image: url("../images/modules/crmbase-camera-16.png") !important;
}
.op5-crmbase-datatoolbar-view-calendar {
	background-image: url("../images/modules/crmbase-calendar-16.png") !important;
}
.op5-crmbase-datatoolbar-options {
	background-image: url("../images/modules/crmbase-config-16.gif") !important;
}
.op5-crmbase-datatoolbar-options-definestore {
	background-image: url("../images/modules/crmbase-config-16.gif") !important;
}
.op5-crmbase-datatoolbar-options-dropstore {
	background-image: url("../images/modules/crmbase-delete-16.gif") !important;
}
.op5-crmbase-datatoolbar-refresh {
	background-image: url("../images/modules/crmbase-viewrefresh-16.png") !important;
}

.op5-crmbase-qtoolbar-file {
	background-image: url("../images/modules/crmbase-save-16.gif") !important;
}
.op5-crmbase-qtoolbar-file-save {
	background-image: url("../images/modules/crmbase-save-16.gif") !important;
}
.op5-crmbase-qtoolbar-file-saveas {
	background-image: url("../images/modules/crmbase-saveas-16.gif") !important;
}
.op5-crmbase-qtoolbar-file-delete {
	background-image: url("../images/modules/crmbase-delete-16.gif") !important;
}
.op5-crmbase-qtoolbar-run {
	background-image: url("../images/modules/crmbase-process-16.gif") !important;
}
.op5-crmbase-qtoolbar-ztemplate {
	background-image: url("../images/modules/crmbase-planet-16.png") !important;
}
.op5-crmbase-qtoolbar-options {
	background-image: url("../images/modules/crmbase-config-16.gif") !important;
}

.op5-crmbase-qbook-srcfilerecord-box {
	padding-left: 4px ;
	padding-right: 4px ;
	color: #f00 ;
	font-weight: bold ;
}
.op5-crmbase-qbook-srcfilerecord-menuitem .x-menu-item-text {
	color: #f00 ;
	font-weight: bold ;
}

.op5-crmbase-qresultwindow-icon {
	background-image: url("../images/modules/crmbase-camera-16.png") !important;
}

.op5-crmbase-qresultmenu-kchart {
	background-image: url("../images/modules/crmbase-kchart-16.png") !important;
}
.op5-crmbase-qresultmenu-save {
	background-image: url("../images/modules/crmbase-save-16.gif") !important;
}
.op5-crmbase-qresultmenu-delete {
	background-image: url("../images/modules/crmbase-delete-16.gif") !important;
}

.op5-crmbase-qresult-kchart-add {
	background-image: url("../images/modules/crmbase-kchart-16.png") !important;
}
.op5-crmbase-qresult-kchart-remove {
	background-image: url("../images/delete.png") !important;
}
.op5-crmbase-qresult-kchart-rowserie .x-grid-cell-first {
	background-image: url("../images/modules/crmbase-kchart-16.png") ;
	background-repeat: no-repeat; 
	background-position: center right;
	padding-right: 12px; 
}
.op5-crmbase-qresult-kchart-colserie .x-column-header-inner {
	background-image: url("../images/modules/crmbase-kchart-16.png") ;
	background-repeat: no-repeat; 
	background-position: center right;
	padding-right: 12px; 
}

.op5-crmbase-qresult-chart-areastacked {
	background-image: url("../images/modules/crmbase-chart-areastacked-16.png") !important;
}
.op5-crmbase-qresult-chart-bar {
	background-image: url("../images/modules/crmbase-chart-bar-16.png") !important;
}
.op5-crmbase-qresult-chart-line {
	background-image: url("../images/modules/crmbase-chart-line-16.png") !important;
}
.op5-crmbase-qresult-chart-pie {
	background-image: url("../images/modules/crmbase-chart-pie-16.png") !important;
}
.op5-crmbase-qresult-chart-pieswap {
	background-image: url("../images/modules/crmbase-chart-pie-16.png") !important;
}

.op5-crmbase-qresult-removeseries {
	background-image: url("../images/modules/crmbase-trash-16.png") !important;
}
.op5-crmbase-qresult-deletechart {
	background-image: url("../images/modules/crmbase-delete-16.gif") !important;
}
.op5-crmbase-qresult-warning {
	background-image: url("../images/modules/crmbase-warning-16.png") !important;
}


.op5-crmbase-qtemplatewindow-icon {
	background-image: url("../images/modules/crmbase-barschart-16.gif") !important;
}

/*
 * Calendar Panel : Centered title 
 */
.op5-crmbase-filecalendar-panel > .x-panel-header {
    font-size: 13px;
    text-align: center;
    padding-left: 178px;
    font-family: helvetica, arial, sans-serif;
    color: #455C6F;
}


/*
 * Calendar Panel : Eventdetail View
 */
.op5-crmbase-filecalendar-eventdetail {
	padding:2px ;
}

.op5-crmbase-filecalendar-eventdetail .op5-crmbase-filecalendar-eventdetail-account {
	margin-bottom:4px ;
	padding:2px ;
	color:white;
}

.op5-crmbase-filecalendar-eventdetail-timewrap {
	position: relative ;
	border-color: #999999 ;
	border-style: solid;
	border-width: 1px;
	min-width: 220px;
	padding: 2px 0px 2px 24px;
	background-position: 4px 50%;
	background-repeat: no-repeat;
	background-image: url("../images/modules/crmbase-calendar-16.png") !important;
}
.op5-crmbase-filecalendar-eventdetail-timelabel {
	position: relative ;
	padding-left: 2px ;
}
.op5-crmbase-filecalendar-eventdetail-timevalue {
	position: absolute ;
	top: 0px ;
	left: 40px ;
	font-weight: bold ;
}
.op5-crmbase-filecalendar-eventdetail-timedone {
	position: absolute ;
	top: 0px ;
	left: 0px ;
	height: 100% ;
	width: 100% ;
	background-repeat: no-repeat;
	background-position: 98% 50%;
}
.op5-crmbase-filecalendar-eventdetail-timedoneicon {
	background-image: url("../images/modules/crmbase-ok-16.gif") !important;
}

table.op5-crmbase-filecalendar-eventdetail-tbl {
	margin: 5px;
	width:100%;
	color:black;
	font-size:12px;
	font-family:tahoma,arial,verdana,sans-serif
}
table.op5-crmbase-filecalendar-eventdetail-tbl > tbody > tr > td.op5-crmbase-filecalendar-eventdetail-tdlabel {
	 padding: 2px 0px;
	 font-style: italic;
}
table.op5-crmbase-filecalendar-eventdetail-tbl > tbody > tr > td.op5-crmbase-filecalendar-eventdetail-tdvalue {
	 padding: 2px 0px 2px 8px;
}


/*
 * Define form
 */
.op5-crmbase-define-grid-joinbody > td {
	padding: 4px 24px 14px 24px ;
}
.op5-crmbase-define-grid-join-erricon {
    position: absolute;
    top: 0px;
    left: 8px;
	 height: 16px;
	 width: 16px;
    background-repeat: no-repeat;
    background-position: center center ;
	 background-image: url("../images/delete.png") !important;
}
.op5-crmbase-define-grid-join-errtxt {
    position: relative;
	 padding-left:32px;
	 font-weight:bold;
	 line-height:16px;
}

table.op5-crmbase-define-grid-join-tbl {
	margin:0px 0px ;
	color:black;
	font-size:12px;
	font-family:tahoma,arial,verdana,sans-serif
}
table.op5-crmbase-define-grid-join-tbl > tbody > tr:first-child > td {
	padding-top: 6px ;
}
table.op5-crmbase-define-grid-join-tbl > tbody:first-child > tr:first-child > td {
	padding-top: 0px ;
}

tr.op5-crmbase-define-grid-join-tr-map > td.op5-crmbase-define-grid-join-td-local {
	border-right: 1px solid #444444 ;
}
td.op5-crmbase-define-grid-join-td-icon {
	width: 32px;
	background-repeat: no-repeat;
	background-position: left center ;
}
td.op5-crmbase-define-grid-join-td-local {
	text-align:right;
	padding-right: 17px ;
}
td.op5-crmbase-define-grid-join-td-remote {
	text-align:left;
	padding-left: 15px ;
}

tbody.op5-crmbase-define-grid-join-tbody-file td.op5-crmbase-define-grid-join-td-icon {
	background-image: url("../images/modules/crmbase-file-16.gif") !important;
}
tbody.op5-crmbase-define-grid-join-tbody-map td.op5-crmbase-define-grid-join-td-icon {
	background-image: url("../images/modules/crmbase-filechild-16.gif") !important;
}
tbody.op5-crmbase-define-grid-join-tbody-map td {
	font-size:11px;
}
tbody.op5-crmbase-define-grid-join-tbody-file td.op5-crmbase-define-grid-join-td-local {
	border-right: 1px solid #444444 ;
}
tbody.op5-crmbase-define-grid-join-tbody-map td.op5-crmbase-define-grid-join-td-local {
	border-right: 1px solid #444444 ;
}
tbody.op5-crmbase-define-grid-join-tbody-select td.op5-crmbase-define-grid-join-td-icon {
	background-image: url("../images/modules/crmbase-piece-16.png") !important;
}
tbody.op5-crmbase-define-grid-join-tbody-select td.op5-crmbase-define-grid-join-td-local {
	padding-right: 0px ;
}
tbody.op5-crmbase-define-grid-join-tbody-select td.op5-crmbase-define-grid-join-td-local {
	padding-left: 2px ;
}
tbody.op5-crmbase-define-grid-join-tbody-separator tr {
	height: 10px ;
}

.op5-crmbase-definejoin-grid-td-empty {
    background-repeat: no-repeat;
    background-position: center top ;
	 background-image: url("../images/op5img/ico_cancel_small.gif") ;
}
.op5-crmbase-definejoin-grid-td-ok {
    background-repeat: no-repeat;
    background-position: left top ;
	 background-image: url("../images/leaf.gif") ;
	 padding-left: 16px
}

.op5-crmbase-definelink-type-treenode {
	background-image: url("../images/modules/crmbase-filechild-16.gif") !important;
}
.op5-crmbase-definelink-type-entry {
	background-image: url("../images/modules/crmbase-listall-16.gif") !important;
}