.op5-spec-dbsembramach-mainmenu {
	background: rgb(159, 159, 159);
	background-attachment: scroll;
	background-clip: border-box;
	background-image: -ms-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -moz-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 900, from(rgb(75, 126, 152)), to(rgb(26, 51, 76)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b7e98', endColorstr='#1a334c');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 100% 100%;
	
	text-align:center;
}

.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-mainmenu-logo.png") !important;
	display:block;
	width: 500px;
	height: 93px;
	margin: 20px ;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-separator {
	padding: 5px;
	margin: 0px 5px;
	color: rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	display:block;
	text-align:left;
	font-size: 14px;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-action {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 104px;
	height: 124px;
	overflow: hidden;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-action-active {
	cursor: pointer;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-item-over .op5-spec-dbsembramach-mainmenu-action-active {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-dbsembramach-mainmenu .op5-spec-dbsembramach-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}


.op5-spec-embramach-banner {
	background-color: #0068b1;
}
.op5-spec-embramach-banner-inside {
	height: 88px ;
}
.op5-spec-embramach-banner-company {
	width: 300px;
	height: 88px;
	
	background-repeat: no-repeat;
	background-position: center;
}
.op5-spec-embramach-banner-company-EAI {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/modules/dbsembramach-logo-EMBRAER.png") !important;
}
.op5-spec-embramach-banner-company-EAF {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/modules/dbsembramach-logo-YABORA.png") !important;
}
.op5-spec-embramach-banner-left {
	float: left;
}
.op5-spec-embramach-banner-right {
	float: right;
	padding-top: 16px;
	padding-right: 6px ;
}
.op5-spec-embramach-banner-logo {
	width: 270px;
	height: 48px;
	background-image: url("../images/modules/dbsembramach-logo.png") !important;
	background-position: center center ;
	background-repeat: no-repeat;
}
.op5-spec-embramach-banner-title {
	text-align: left;
	line-height: 40px;
	font-size: 24px;
	font-weight: bold ;
	font-family: 'Droid Sans';
	padding: 0px 16px
}
.op5-spec-embramach-banner-blue {
	background-color: #010066 ;
}
.op5-spec-embramach-banner-people {
	width: 250px;
	height: 56px;
	padding-left: 56px;
	padding-top: 16px;
	background-color: white;
	background-image: url("../images/modules/dbsembramach-people-48.png") !important;
	background-position: 0 center ;
	background-repeat: no-repeat;
	border: 1px solid gray;
	
	font-family: 'Droid Sans';
	font-size: 14px;
}


.op5-spec-dbsembramach-icon-mach {
	background-image: url("../images/modules/dbsembramach-dashboard-64.png") !important;
}
.op5-spec-dbsembramach-icon-report {
	background-image: url("../images/modules/dbsembramach-report-64.png") !important;
}


.op5-spec-dbsembramach-mach-grid .x-grid-cell-inner { 
	white-space: normal;
}

.op5-spec-dbsembramach-bigcolumn .x-grid-cell-inner { 
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}
.op5-spec-dbsembramach-medcolumn .x-grid-cell-inner { 
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}

.op5-spec-dbsembramach-gridcell-green .x-grid-cell-inner { 
	background-color: #2AFF00;
}
.op5-spec-dbsembramach-gridcell-orange .x-grid-cell-inner { 
	background-color: #FFB300;
}
.op5-spec-dbsembramach-gridcell-red .x-grid-cell-inner { 
	background-color: #FF2B2B;
}
.op5-spec-dbsembramach-gridcell-nobold .x-grid-cell-inner { 
	border: 2px solid transparent;
	font-weight: normal;
}
.op5-spec-dbsembramach-gridcell-bold .x-grid-cell-inner { 
	border: 2px solid black;
	font-weight: bold;
}
.op5-spec-dbsembramach-gridcell-boldtext .x-grid-cell-inner { 
	font-weight: bold;
}
.op5-spec-dbsembramach-gridcell-italictext .x-grid-cell-inner { 
	font-style: italic ;
}

.op5-spec-dbsembramach-colorinfo {
	background: white
}
.op5-spec-dbsembramach-colorinfo-item {
	position: relative;
	padding-left: 24px ;
	line-height: 24px ;
	font-size: 8pt;
}
.op5-spec-dbsembramach-colorinfo-item-icon {
	position: absolute ;
	left: 4px ;
	top: 4px ;
	height: 16px;
	width: 16px;
	border: 1px solid #aaa ;
}

.op5-spec-dbsembramach-gridcell-bold-legend { 
	border: 2px solid black;
	font-weight: bold;
}
.op5-spec-dbsembramach-gridcell-green-legend { 
	background-color: #2AFF00;
}
.op5-spec-dbsembramach-gridcell-orange-legend { 
	background-color: #FFB300;
}
.op5-spec-dbsembramach-gridcell-red-legend { 
	background-color: #FF2B2B;
}

.op5-spec-dbsembramach-gridcell-done .x-grid-cell {
	background-color: #C29FFF ;
}


.op5-spec-dbsembramach-report-sums .x-grid-cell-inner {
	font-weight: bold;
	font-size: 12px;
}

.op5-spec-dbsembramach-report-column-separator-outer {
	border-right: 2px solid gray !important;
}
.op5-spec-dbsembramach-report-column-separator-inner {
	border-right: 1px solid gray !important;
}

.op5-spec-dbsembramach-report-clock {
	background-image: url("../images/modules/dbsembramach-clock-16.png") !important;
}
.op5-spec-dbsembramach-report-view-day {
	background-image: url("../images/modules/dbsembramach-calendar-day-16.png") !important;
}
.op5-spec-dbsembramach-report-view-week {
	background-image: url("../images/modules/dbsembramach-calendar-week-16.png") !important;
}
.op5-spec-dbsembramach-report-view-month {
	background-image: url("../images/modules/dbsembramach-calendar-month-16.png") !important;
}



.op5-spec-dbsembramach-statempty-cnt {
	position: relative ;
	width: 100%;
	height: 100%;
	
	display: table;
}
.op5-spec-dbsembramach-statempty {
	display: table-cell;
	position: absolute;
	vertical-align: middle;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	

	height: 70px;
	padding-top: 56px;
	background-image: url("../images/modules/crmbase-info-48.png") !important;
	background-position: center 0 ;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 14px;
	font-style: italic ;
}





.op5-spec-dbsembramach-emailheader-actions-bottom {
	float: right ;
	position: absolute ;
	bottom: 0px ;
	right: 0px ;
}
.op5-spec-dbsembramach-emailheader-action-btn {
	display: inline-block ;
	
	width: 30px ;
	height: 30px ;
	
	background-repeat: no-repeat;
	background-position: center center ;
	 
	border: 2px solid rgb(180, 180, 180);
	padding: 4px ;
	margin: 0px 6px ;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-dbsembramach-emailheader-action-space {
	display: inline-block ;
	
	width: 30px ;
	height: 30px ;
}
.op5-spec-dbsembramach-emailheader-action-btn:hover {
	background-color: rgb(200, 200, 200);
}
.op5-spec-dbsembramach-emailheader-action-btn-attachments {
	background-image: url("../images/modules/dbsembramach-attachment-22.png") !important;
}

.op5-spec-dbsembramach-eventgrid-green {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/dot_green_16.gif') ;
}
.op5-spec-dbsembramach-eventgrid-warning {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/modules/dbstracy-warning-16.png") ;
}
.op5-spec-dbsembramach-eventgrid-attach {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/modules/dbsembramach-attachment-16.png") ;
}

