.op5-spec-dbsembralam-stock-avail .x-grid-cell-inner {
	background: url('../images/op5img/ico_greendot.gif') no-repeat center center ;
}
.op5-spec-dbsembralam-stock-notavail .x-grid-cell-inner {
	background: url('../images/op5img/ico_reddot.gif') no-repeat center center ;
}

.op5-spec-dbsembralam-stock-disabled .x-grid-cell-inner {
	background-color: #cccccc !important;
}


.op5-spec-embralam-liveadr-adr {
	font-size: 18px ;
	padding-bottom: 6px ;
}
.op5-spec-embralam-liveadr-adrtxt {
	font-size: 24px ;
	font-weight: bold ;
}
.op5-spec-embralam-liveadr-caption {
	background: url('../images/op5img/ico_info_small.gif') no-repeat 4px center ;
	line-height: 20px ;
}
.op5-spec-embralam-liveadr-captiontxt {
	padding-left: 24px ;
}
.op5-spec-embralam-liveadr-captionwarning {
	color: #cc0000 ;
	font-weight: bold ;
}

.op5-spec-embralam-liveadr-btnrelocate .x-btn-inner {
	color: #dd0000 ;
	font-weight: bold ;
}

.op5-spec-embralam-livelogo {
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	font-weight: bold ;
}
.op5-spec-embralam-livelogo-left {
	width: 128px;
	height: 64px;
	float: left;
	background-image: url("../images/modules/dbsembralam-logoleft.png") !important;
	background-position: center center ;
	background-repeat: no-repeat;
}
.op5-spec-embralam-livelogo-right {
	width: 256px;
	height: 64px;
	float: right;
	background-image: url("../images/modules/dbsembralam-logoright.png") !important;
	background-position: center center ;
	background-repeat: no-repeat;
}
