.op5-spec-dbspeople-icon-rh {
	background-image: url("../images/modules/dbspeople-rh-64.png") !important;
}
.op5-spec-dbspeople-icon-real {
	background-image: url("../images/modules/dbspeople-real-64.png") !important;
}
.op5-spec-dbspeople-icon-forecast {
	background-image: url("../images/modules/dbspeople-forecast-64.png") !important;
}
.op5-spec-dbspeople-icon-query {
	background-image: url("../images/modules/dbspeople-query-64.png") !important;
}


.op5-spec-dbspeople-mainmenu {
	background: rgb(159, 159, 159);
	background-attachment: scroll;
	background-clip: border-box;
	background-image: -ms-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -moz-radial-gradient(center top, #4b7e98 0%, #1a334c 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 900, from(rgb(75, 126, 152)), to(rgb(26, 51, 76)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b7e98', endColorstr='#1a334c');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 100% 100%;
	
	text-align:center;
}

.op5-spec-dbspeople-mainmenu .op5-spec-dbspeople-mainmenu-item {
	display:block;
	position:absolute;
}
.op5-spec-dbspeople-mainmenu .op5-spec-dbspeople-mainmenu-header {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-mainmenu-logo.png") !important;
	display:block;
	width: 500px;
	height: 93px;
	margin: 20px ;
}
.op5-spec-dbspeople-mainmenu .op5-spec-dbspeople-mainmenu-separator {
	padding: 5px;
	margin: 0px 5px;
	color: rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	display:block;
	text-align:left;
	font-size: 14px;
}
.op5-spec-dbspeople-mainmenu .op5-spec-dbspeople-mainmenu-action {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 104px;
	height: 124px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;	
}
.op5-spec-dbspeople-mainmenu .op5-spec-dbspeople-mainmenu-item-over .op5-spec-dbspeople-mainmenu-action {
	background-color: rgb(37, 68, 93);
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px !important;
	z-index: 2;
}
.op5-spec-dbspeople-mainmenu .op5-spec-dbspeople-mainmenu-action-icon {
	width: 64px;
	height: 64px;
	margin: 10px auto;
}

.op5-spec-dbspeople-icon-absence {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-absence-16.png") !important;
}
.op5-spec-dbspeople-icon-move {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-move-16.png") !important;
}
.op5-spec-dbspeople-icon-role {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-role-16.png") !important;
}
.op5-spec-dbspeople-icon-team {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../images/op5img/ico_kuser_16.gif") !important;
}
.op5-spec-dbspeople-icon-contrat {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../images/modules/dbspeople-contrat-16.png") !important;
}

.op5-spec-dbspeople-icon-actionday-summary {
	background-image: url("../images/modules/dbspeople-summary-16.png") !important;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-dbspeople-icon-actionday-open {
	background-image: url("../images/modules/dbspeople-open-16.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-dbspeople-icon-actionday-validceq {
	background-image: url("../images/modules/dbspeople-validceq-16.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-dbspeople-icon-actionday-validrh {
	background-image: url("../images/modules/dbspeople-validrh-16.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-dbspeople-icon-actionday-reopen {
	background-image: url("../images/op5img/ico_reload_small.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
}
.op5-spec-dbspeople-icon-actionday-delete {
	background-image: url("../images/op5img/ico_delete_16.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
}



.op5-spec-dbspeople-rhcolor-undefined {
	background-color: #BF8E10 !important;
}
.op5-spec-dbspeople-rhcolor-undefined .x-grid-cell-inner {
	background-color: #BF8E10 !important;
}
.op5-spec-dbspeople-rhcolor-out {
	background-color: #888888 !important;
}
.op5-spec-dbspeople-rhcolor-out .x-grid-cell-inner {
	background-color: #888888 !important;
}


.op5-spec-dbspeople-rhformpanel-fieldset .x-form-item-label-default {
	min-height: 16px ;
}
.op5-spec-dbspeople-rhformpanel-fieldset .x-form-item-body-default {
	min-height: 16px ;
}
.op5-spec-dbspeople-rhformpanel-fieldset .x-form-display-field-default {
	min-height: 16px ;
}


.op5-spec-dbspeople-realcell-virtual {
	color: #777777 ;
}
.op5-spec-dbspeople-realcell-absent {
	color: #E50000 ;
	font-weight: bold;
}
.op5-spec-dbspeople-realcell-absplanning {
	color: #E5026C ;
	font-weight: bold;
}
.op5-spec-dbspeople-realcell-diff {
	color: #BF8E10 ;
	font-weight: bold;
}
.op5-spec-dbspeople-realcell-rolevirtual {
	color: #777777 ;
	text-decoration: underline;
}



.op5-spec-dbspeople-realcolorinfo {
	background: white
}
.op5-spec-dbspeople-realcolorinfo-item {
	position: relative;
	padding-left: 24px ;
	line-height: 24px ;
	font-size: 8pt;
}
.op5-spec-dbspeople-realcolorinfo-item-icon {
	position: absolute ;
	left: 4px ;
	top: 4px ;
	height: 16px;
	width: 16px;
	border: 1px solid #aaa ;
}

.op5-spec-dbspeople-realcolor-role {
	background-color: #BF8E10 !important;
}
.op5-spec-dbspeople-realcolor-role .x-grid-cell-inner {
	background-color: #BF8E10 !important;
}
.op5-spec-dbspeople-realcolor-anomalie {
	background-color: #FF6F6F !important;
}
.op5-spec-dbspeople-realcolor-anomalie .x-grid-cell-inner {
	background-color: #FF6F6F !important;
}
.op5-spec-dbspeople-realcolor-whse {
	background-color: #C29FFF !important;
}
.op5-spec-dbspeople-realcolor-whse .x-grid-cell-inner {
	background-color: #C29FFF !important;
}
.op5-spec-dbspeople-realcolor-open {
	background-color: #CDFFCF ;
}
.op5-spec-dbspeople-realcolor-open .x-grid-cell-inner {
	background-color: #CDFFCF ;
}
.op5-spec-dbspeople-realcolor-openrh {
	background-color: #ABD0FF ;
}
.op5-spec-dbspeople-realcolor-openrh .x-grid-cell-inner {
	background-color: #ABD0FF ;
}
.op5-spec-dbspeople-realcolor-dirty .x-grid-cell-inner {
	background-image: url("../images/modules/dbspeople-dirty.gif") ;
	background-position: 0 0 ;
	background-repeat: no-repeat ;
}
.op5-spec-dbspeople-realcolor-exceptionday .x-grid-cell-inner {
	background-size: 20px 20px;
	background-image:
		-webkit-repeating-linear-gradient(-45deg, #9EC49F, #9EC49F 1px, transparent 1px, transparent 14px);
	background-image:
		-moz-repeating-linear-gradient(-45deg, #9EC49F, #9EC49F 1px, transparent 1px, transparent 14px);
	background-image:
		-o-repeating-linear-gradient(-45deg, #9EC49F, #9EC49F 1px, transparent 1px, transparent 14px);
	background-image:
		repeating-linear-gradient(-45deg, #9EC49F, #9EC49F 1px, transparent 1px, transparent 14px);
}
.op5-spec-dbspeople-realcolor-alertdue > .x-column-header-inner {
	font-weight: bold ;
	background-size: 20px 20px;
	background-image:
		-webkit-repeating-linear-gradient(-45deg, #FF6769, #FF6769 5px, transparent 1px, transparent 14px);
	background-image:
		-moz-repeating-linear-gradient(-45deg, #FF6769, #FF6769 5px, transparent 1px, transparent 14px);
	background-image:
		-o-repeating-linear-gradient(-45deg, #FF6769, #FF6769 5px, transparent 1px, transparent 14px);
	background-image:
		repeating-linear-gradient(-45deg, #FF6769, #FF6769 5px, transparent 1px, transparent 14px);
}


+.op5-spec-dbspeople-realsum-title .x-grid-cell-inner {
	font-style: italic;
}
.op5-spec-dbspeople-realsum-value .x-grid-cell-inner {
	font-weight: bold;
	font-size: 12px;
	color: #496A5D;
}


.op5-spec-dbspeople-balance-pos .x-grid-cell-inner { 
	color: #008000 ;
	font-weight: bold;
}
.op5-spec-dbspeople-balance-neg .x-grid-cell-inner { 
	color: #E50000 ;
	font-weight: bold;
}
.op5-spec-dbspeople-balance-big .x-grid-cell-inner { 
	font-size: 13px;
}

.op5-spec-dbspeople-cfgparambtn-bold .x-btn-inner {
	font-weight: bold ;
}


.op5-spec-dbspeople-realsummary-box {
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/dbspeople-summary-48.png") !important;
}


.op5-spec-dbspeople-realvalidhdr {
	padding: 0px 2px ;
	height: 56px;
	width: 100% ;
}
.op5-spec-dbspeople-realvalidhdr-inline-tbl {
	display: table;
	height: 56px;
}
.op5-spec-dbspeople-realvalidhdr-inline-elem {
	margin: auto 5px;
	padding: 0px 16px;
	display: table-cell;
	vertical-align: middle;
}
.op5-spec-dbspeople-realvalidhdr-icon {
	width: 56px ;
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/dbspeople-ok-48.png") !important;
}
table.op5-spec-dbspeople-realvalidhdr-tbl {
	margin: 0px 5px;
	color:black;
	font-size:12px;
	font-family:tahoma,arial,verdana,sans-serif
}
table.op5-spec-dbspeople-realvalidhdr-tbl > tbody > tr > td.op5-spec-dbspeople-realvalidhdr-tdlabel {
	 padding: 0px 0px;
	 font-weight: bold;
}
table.op5-spec-dbspeople-realvalidhdr-tbl > tbody > tr > td.op5-spec-dbspeople-realvalidhdr-tdvalue {
	 padding: 0px 0px 0px 8px;
}
.op5-spec-dbspeople-realvalidhdr-exception {
	color: #E50000 ;
	font-weight: bold;
}

.op5-spec-dbspeople-rhcalcattributehdr-icon {
	width: 72px ;
	background-position: center ;
	background-repeat: no-repeat ;
	background-image: url("../images/modules/dbspeople-calcattribute-64.png") !important;
}

.op5-spec-dbspeople-realvalidgrid-tdcolor .x-grid-cell-inner {
	line-height: 8px;
	margin: 2px;
}
.op5-spec-dbspeople-realvalidgrid-tdcolor-durationless .x-grid-cell-inner {
	background-color: #E50000 !important;
}
.op5-spec-dbspeople-realvalidgrid-tdcolor-durationmore .x-grid-cell-inner {
	background-color: #008000 !important;
}
.op5-spec-dbspeople-realvalidgrid-tdcolor-abs .x-grid-cell-inner {
	background-color: #E50000 !important;
}
.op5-spec-dbspeople-realvalidgrid-tdcolor-altwhse .x-grid-cell-inner {
	background-color: #C29FFF !important;
}
.op5-spec-dbspeople-realvalidgrid-tdcolor-altrole .x-grid-cell-inner {
	background-color: #BF8E10 !important;
}

.op5-spec-dbspeople-realvalidgrid-error .x-grid-cell {
	background-color: #FF5252 !important;
}
.op5-spec-dbspeople-realvalidgrid-error .x-grid-cell-inner {
	background-color: #FF5252 !important;
}
.op5-spec-dbspeople-realvalidgrid-error .x-grid-cell-inner-checkcolumn {
	display: none;
}


.op5-spec-dbspeople-query-warning {
	padding-left: 20px;
	
	color: red;
	font-weight: bold;
	
	background-position: 0 center;
	background-repeat: no-repeat;
	background-image: url("../images/modules/crmbase-warning-16.png") !important;
}


.op5-spec-dbspeople-printheader-title {
	padding-left: 16px 0px ;
	font-size: 18px;
	font-weight: bold;
}


.op5-spec-dbspeople-forecast-column-past .x-grid-cell-inner {
	background-color: #DDDDDD !important;
}
.op5-spec-dbspeople-forecast-column-now .x-grid-cell-inner {
	background-color: #FFCC52 !important;
}
.op5-spec-dbspeople-forecast-column-now .x-column-header-inner {
	background-color: #FFCC52 !important;
}


.op5-spec-dbspeople-rh-attrsetup-ok {
	background: url('../images/op5img/ico_greendot.gif') no-repeat center center ;
}
.op5-spec-dbspeople-rh-attrsetup-nok {
	background: url('../images/op5img/ico_cancel_small.gif') no-repeat center center ;
}
