<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
	<style type="text/css">
		body {  
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px ;
			margin: 4px;
			display:block
		}

		table {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px;
			/*color: navy;*/
			padding-top: 2px;
			padding-bottom: 2px;
			
			border-spacing: 0px;
			border-collapse: collapse;
		}
		
		/*
		table td {
			padding: 6px;
		}
		*/
		table.tabledonnees {
			border: 1px solid black ;
			page-break-inside: auto ;
		}

		table.tabledonnees tr td, table.tabledonnees tr th {
			page-break-inside: avoid;
		}

		table.tabledonnees  {
			display:table-header-group ;
		}

		table.tabledonnees tfoot {
			display:table-footer-group ;
		}

		table.tabledonnees td {
			padding-top: 1px ;
			padding-bottom: 1px ;
			padding-left: 10px;
			padding-right: 10px;
			border-left: 1px solid black ;
			border-right: 1px solid black ;
			vertical-align: top;
		}
		table.tabledonnees th {
			padding-top: 2px ;
			padding-bottom: 2px ;
			padding-left: 10px;
			padding-right: 10px;
			border-left: 1px solid black ;
			border-right: 1px solid black ;
			vertical-align: top;
		}

		table.tabledonnees thead th {
			font-weight: bold ;
			border-bottom: 2px solid black ;
		}
		table.tabledonnees thead td {
			font-weight: bold ;
			border-bottom: 2px solid black ;
		}

		.celltitle {
		}
		.celldata {
			font-weight: bold;
		}

		td.headertitle {
			font-style: italic ;
			background: #dddddd ;
		}
		
		.invoicewidth  {
			width: 1200px ;
		}

	</style>
	<body style='background-color:#FFFFFF'>
		<table class='invoicewidth'><tr>
			<td width="50%" valign="bottom">
				<table width="100%" border="1" cellpadding="3">
				<tr>
					<td width="33%" class="headertitle">Facture expédiée à</td>
					<td width="33%" class="headertitle">Facturé à</td>
					<td width="33%" class="headertitle">Commande expédiée à</td>
				</tr>
				<tr>
					<td height="90" valign="top"><qbook-value src_value="adr_sendto"></qbook-value></td>
					<td height="90" valign="top"><qbook-value src_value="adr_invoice"></qbook-value></td>
					<td height="90" valign="top"><qbook-value src_value="adr_ship"></qbook-value></td>
				</tr>
				</table>
			</td>
			
			<td width="25%" valign="middle" align="center">
				<img width="200" src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEA3ADcAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wgARCAEcAl0DAREAAhEBAxEB/8QAHQABAAIDAQEBAQAAAAAAAAAAAAcIBQYJBAMBAv/EABsBAQACAwEBAAAAAAAAAAAAAAAFBgMEBwIB/9oADAMBAAIQAxAAAAG/wAAAAAAAAAAAAAAAB5PWPQ96LwGfUPuXxbG06u7smvuf0+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfy
				+V3n6nXSw1HHZMQH6bZqb01w1kn+CtPv8ZQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWmw0/VdrRjWRh8DsaoGZw7EtRU7KMZNyxFzns85AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMDm1efV85Z8fvn8+gAAMjizTvCWaxUBa8xi2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIDm6xU200jJY80sxU3IehK7Dg2hgM+rH29FxJKweLy4Rk8Wa0FbuU8wll/p9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAq1ZKbmsOeaIiwQ7LQMWSUNrGzp+7xl3PT35Ij5aYIqdhCZrtZbHUMbkw/pK0XN3Cql7zGLYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHn++IFm63WCyU/G5MQG1au5KsZNSjGTGQ8Zd80pLHZMNJ7hz/
				TNzQ9Pj3c6o32XIycAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+b5T+1UeDZquD0+fcnRsvumnv+n57wObWjSRidgwbVuKtdtz1d/B5tahV15vrWzqZfFnvfSuj7hq7wAAAAAAAAAAAAAAAAAAAAAAAAAAAAqpZKdXKwVb9+LBwVms3XrZmcWwAPx8iOUhaqWWnW5q11k+Pl4wkIii1054N105C/dI6R6PnoAAAAAAAAAAAAAAAAAAAAAAAAAAAR3vRdCbtzr9LkVO8zjD2AAAAa3n1aRXCgXlp3Qc5h2KMXHn0VScOLcVe6WEg7KAAAAAAAAAAAAAAAAAAAAAAAAAAAKQW+gxBKwtm67a7R122gAAACL5CJieTh7UVy3QVMV+m1so4kbQk78UrooAAAAAAAAAAAAAAAAAAAAAAAAAAGL94ea/
				QeX5jDm6M0Ppvr8+wAAAAKlWWnW1rVx0/Z0ud185qfJ5hLFceq3b9AAAAAAAAAAAAAAAAAAAAAAAAAABFEjEUSulAsPA2S3tYuQAAAAAg+WgpviZz4/fPMLonLBIOjI9A6R0UAAAAAAAAAAAAAAAAAAAAAAAAAACApmv01tdJuNVbpYGFsQAAAAAweXBm8Wb5ffnL7ofKx6fPvp9z3qYAAAAAAAAAAAAAAAAAAAAAAAAAAEAzVfppa6XcyqXSfYWwAAAAAADVNjU5w33mwyuLL005/wBPAAAAAAAAAAAAAAAAAAAAAAAAAAAiSSiKG3OhWjrlqtVXbUAAAAAAIPloOkVvo
				+4au5YiCsdlYGygAAAAAAAAAAAAAAAAAAAAAAAAAAYnJh5ldA5nJ0dKX9pl+AAAAAAFHbdR4Rl4SzNfs1tq1bf0AAAAAAAAAAAAAAAAAAAAAAAAAAAFD7jRIelIjonRuh79p74AAAAAj7dj+eV457+PvRyidE3PV3QAAAAAAAAAAAAAAAAAAAAAAAAAAAIw34zn1dqBI2hI9A6XfvX59gAAADEZMPPi7UDSNvSsJCWC6NVuQAAAAAAAAAAAAAAAAAAAAAAAAAAAAFOrPUa1z9dl2LlbxVK65rFmAAAGm7OnRa4UnQd3R27V2+itH6BlseUAAAAAAAAAAAAAAAAAAAAAAAAAAAAD4/fNH7bTIKmITPYM9oK/ZZ7hpzYcOx+g/HzRdvSrxNwNcp2veP342fX2egFLve6au4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAB/D5WCwVuqVjrPh94/wB
				+fdr1trYsGf5evmp7Grgc+AfpMkVL3Wqlw2PDsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADXc2vXOcgIOlofQd3R+X34P0zOHLMEZLWNg5+W46UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAx/rHrWxg83rxmMWbZMGf+n0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUrufMgMnizz/AW6QtCY1zY0qr2ih3Lp/SQBTK481tdVL/n8O2BAc5U/Z59yBHzFW7TQwBmsG1bqp9DA0400H1NrNyPIRQTGACHyUj3HnNCNbPmZk3wzAIpPEACSTDmtkpH0ABFJvhiDxG6EVEimaBqJrRKRzd6Jx63dSv2axb
				GnbcfWix03oLQusYDPqUYu3Mui/P8AroA5y9B5DfCj9Q2rW3gKq2aj5DxllmKnqa3DndvKnfgPT59yNHzAEcmvm/niI8NoN+IELGAAruToeghQzZvJ9zWCPyXDZyBTejNgGbNDI5NwJbP0AgYlQ14xxK5oBpBOJ4iDSYDZDmZ0Tkd6qV0fYMOzq+fUpFcuedFKF1LD5cFC7tzbpNz/AKwAOa3QeTX8o/S9t1t4CplmpOR8ZZdip2mluoPRCh9SAAAjMxhL4MWV9J8IBLMAArYT6Rsf2S4ADUyISwpABLhtAAIzNbMOb0ScAV7JcNbMYS+fyQcZ0wRniVQcvei8ozeDP/fz7jcmLK4819KX0L4ffPP+7866ac+6mAOY/QuV9CaN0fb9bdAqHZqZkvGWYoqbpJcKHeem9AA+/
				n7uurvARaYsmYGLK4FhivBYUAFfixJXosSZMAAr2SwQ6SabEAZcjUxRIxAZMRvYK4kxmsGLJmBiivBkywZ9gcrui8s6UUHpO04NryevFT7HVIelYi8VQu/Pa78+6h896eAOXPQ+X9FaL0TcdbcAp1Z6fk/GSZ4qa5/3Xn+1624fBsmvs38pl+Aic1klIxxFJtpKJWUzIAMMWVK0lrj+gACAjfyJT5n2AJvNOMSTcaOQcT+bUVnJpNWMUTaDAldD3lkD1A5P9G5j01oHRdrwbI8/3zyn6JzS/NNu1FbfTOqPPelADlX0PmnSCi3/AHTW3AKYWipZXHkmuKmKL2+l9N6D0UAACISMDMHsN+JJMWVaLdgAqUWaK7k6m3AA+ZVosOV/JxNxABEJiCdQRSRQWTK7k4mpGJJ0PmVsN6NaPcToDkh0bm3UOgdB2zBsCEJSJonbqh0SpV2503Wk9X
				+e9FAHNO80Sx0HOWegp8eL145vXej2Ug5ySNHfobb6d1EoPQQAAIbMOT4ADEFTy44AKfFpTRyLiyZkgfyQWYMskVSJ5N0ABDhhSfQCBjUDxk/momGJ8IZNILNHgKtE8m/HILpHO7AQsxkfHvXs+GI5GOvdU7Tvunucxr3R7Fwk0BZKEmf6OetyqEtR0htmtsQpKxm7amz0Fp9vjbd0udF1ptgIaYAzuLLc+s2QCFjClgwAYYqKXTABTMtcZ0g0i8kI9Ro56yyZkSpJnzKgEwEcGELCAHzK0GkFmjTjCkrFZC05sII8IBLXFDrdVgNw181p4Cb23BsarnwUls9dAFoYKZmOOkNdy4adWSvwhKx12KvYp7iZT+33RdrVprZIAAbBhy3kq9kAjcxpLQAMcQAWQABXMncyoNYK7GvlhCST
				+wQEYwAE1GumNJaAB4CvxNRrpjjHGVJVABBp6j//xAAzEAABAwQBAQUGBgMBAQAAAAAFAwQGAAECBxEWCBASFyATFBUhJVAYJCYwNTYjMWAigP/aAAgBAQABBQL7C8fIj0X22ALG6m8w2F8N6Bs6bbhAOKZTMSRrHK2Vv+Dvfw2nO67NlCRdyYcegNBix6ovp0owyGsrj2v/AAW6J9lZQbHgsPHSE1ibed4Y85AOBm+STa4XdwgldkQQJof8DJzeMbAOHajpzfPxX5rmua5rmua5oYZdBXEW3wqjcKfZyFp9/wB/F/dgHNDBLoyuH0WXfWY9n5inZPSAPCymkAWdnvZ/YKWL6JLMrFQrsGvzXNCTToE8hG7G5W9r+K333drZ2dmUQ0Skhiu6GQwae381b3I7qOvrq7CNrXYTSRqXZ7Yk4mo/vcc/v+Skg6X6KQd2KiHIN73QLaruI5AzzWRj/
				vnsE8Fp3u1IZkVMOTbvvETgsCsE3++bXHy2Kz6k9Y4BHIty6zxlMQZS9hNIS7hJKmbu7J1q4sHONfvaquKKez9sKSJTuaM1n64rTB4nZv2eHWVs+zspw+0CWQscg5aO2iG1CcTyh86YTRrUijzaUCZZGHEQNUDOOY6ThMxbzUN963VsS7lfmsbXyvB9HLksQseZR1t6L25tMNOjZJgTFFNdHta7GSnDCtqQq0vjtc1ApkrCz7Vym9bfeNnTDo2MZKXzyTxurnq7VKcbR/YlEWaS4U+ZkNXTCNnkZOErcUZ6cmPNc1oOVe/ifvG65N8dmNaLgNlf29rQi0wjnZ7kd03Vb9Ce/RLu1eWzj08+7miWIYOuvm5XjIPOSn2LJMaz/
				bOCrwbdlT9jiRhPdrEY1nYj7vup97lruuzuHs6Pfub4EXcRSnKNnLfu1YYuFnv3ftE5cQzmuzq3xxif7klFfHI9b/S6tkEOa5pm6yZO/u/aKt+jOa7O2drwz96dO7MYXzXNBGPxM3933ey9811zXZtIW9p+9v4zYfB+agAf4/M22ubtN4fdzwuxsIslk3V03IPgE+/e3vKPjkvrs5R66xH7zu+M3j82tl4b62mGM0iv7myprhB40qrksonhkspAIvaHxT7ztmFdaRW/yvrOfZwM+xfIk2f7R042jgufTdxOztaEg3xk1973rra413WstrOIIuCkDOSj/wBiYTsdCGU82G9npCoVD3M2OggreOifva6GDpDa2oVYitUfk76LPYp2jW6+IWWjZEn33v4aP7KCRq0t7Rbh3i/
				IrlXdRSJPZkVg0HaQQP8AfVE7K4bD0Di7yIjXAh3zWOV8cmE9NDLJ7nkydl9wSVxYjKSRf0QHTJGYZRmKsYgN/wCAkMUHyptJezZzc1qw+BuolmjlzXNf7oZHn5rOO9nw0VvEdLhorf8A4V6KakrL65Aub46uj2F2sMEMaxwsnj/8Eeax6vNY9XmsephuUy0UhOxWkyxqXPlRkYZ7TOKu/Q52odwcRZ4oRjXftuZEY0X1DLX8mcT0msGiPmserzWPV5rHq81j1RvZhp9Iu+WFFhtdUva6pe0nLXidxcwSdZf7ogpdFh1S99Kkne4qDFclx1OXSbNJ/Nr3urIni18TrvC7OZuEbizaBbHuJSN2gQ6pe11S9rql7XVL2o+7zeiZYUWG0PlzhJ0kriun6CUjdoEI87zeiZYUWG1FjLgi/eJqKtlZI/QUBFrFmXdJz1xuAwwQJvLW4t7So5qwKQj3lACqWaTbZsBxRUU+EkLFhU/+UJHqfUPQ8U/OQb5wzv37lxIOz9l4ne1L8QCPIYEJB5Pgq8nwVeT4KmWqwo953z+/FRVgkVIdIsqdQlupiVFLB1ojIb4LFv4rx+lbP/ME/
				h3z3Ac1LG1S7gNFFiOLeKskLKRtkpYnCf8Az41R7mNyCxlCjOf1eOx9qQEdJMa6SY10kxpmzwYN5/fivHUXkfw5X0Gs/q8RvzH5/fioLlyWqZBvaYBTGQl8iti4SKksBLJw7zeuY0G+FMq9pUTmIptFutw9SnbAkCOwvk4Vjo7IRH9hfKDjVPqPoeqfnIH/AErv7QeXEh7O+Xid7Yvxr2HZ/q717EvxUAy5MdxkdYoOwWunk8ce9R3x+lbP/MC/hZyX94IQwFYgp6JSAsVaDSWYx6iti4ROZ/WYbfmOejYl+Kig9Mu8JsVBTuHSb0HM/rMN+cc2JfioBlyYq9vFaThrhX0KkNkc5Of+MPoSE94U7vaUlHiC6fTJKnTRdjeKyPpg7D5kzmovYvygg1T6l6Hyn52Af0fv7RWXEj7OGXiebc+Wuoq9wZyjzPj9eZ8frzPj9Ndig3rnv2Vfitd5cmu4ySxEjcb3zyeoe6Rrx11QPrqgfXVA
				+uqB9LKcqgP4N07u7dBmfw8X6ZS3sxPwl17zHj2f1uJnmbMD1QPrqgfXVA+mrpN6hsq/Fa7y5NyIDgcZuE82biHSj4ql3Hs/rcJvzGtlX4rXeXJruMisDDB2hmycgBWRwighi2R7vaVB/wCl08YokUNt6gwCNIBNFIXJNiqWU18MU+peh8p+e17/AETv7SGXhknZpy8TzcPy1u3wzdr9AHq6APV0AeqHQg00l3fs+/FQgsgKK9bjKe7DYIYHJGueXgkbydODn8L466fIV0+Qrp8hXT5Cr5cXj/zAeOscvFj6Z6rzJdc2vYDIMvrrcQ7do9PkK6fIV0+QqHN1Gsd2ffitbZcnamEY+MN03GbReLSTCQM6kGX12C/OL7PvxWtsuTfdIjeAEcs5zdrhTOYUgzeJv2vd7SoL/SO522weNfaU9WyW0KLU+p+ghnw/1zlbOA9/aWUtaUdmPLxPdy341nB8/wBa+val+KHsFyi3SJOm8FJuLhNcpNM8cbYYnv4Px+lxn/njf9fkDL4WahJaxUB6FVcUEjBO5UpFGNx0ekWX1+BfOKejal+K1jlye7p5FPa4jSqol4BNpH2Eiz+vwH5xTal+K1jlydpVXFFOUyK58nruOc2nEd+CP4BJvcHfd7SoF/
				Ru7c2zUIeCCDFj5aeMcBOqRSn1T0bUAZxiednzYyDwR3ESKAlls6b9dS7szgFWYHdV+NYQRT9cevbV+K1Zlyf9Eg/gfH6XGf5iM/13ZMdu7bxqSKRwgLLIGWndlnbDGczexG0Ij9zxWpJl+odffOJejbV+K1ZlzIe+exH4YpHZGrHiBl5g8L69vzEdtX4rVmXJ+tkSj5xGP5SMomnZFMsLTMjyjBUO/gco+OMK9pQftHFgwn8UBmjXaIkRZFsk8kZTTen7QZLaXy1y3d3bOPxQGa/FAZr8UBmtOT1zsONbX1ilsUQZEPooVjnaJPA0XHanIZpS/ZJacZ6r0+8njtgxRFst3X41aILZhi34oDNfigM1+KAzUX7RhY3Ju/b9+K1PlzIfRIv6/wCP0uc/zEX/AK3e3Nplr3NDNgVcB3DPbLxHFbby+WJmXvjtozEXUkWFC0QzKpNl+owuw3QMb5sva82XtebL2ooXzOgdv34rU+XMi71UsV0prFM4088da5vzD9v34rU+XMhmMlxjQpHFUm9jIDCOi+7YEX+NDxJdUMQEFUjQ/wAqh1eVQ6vKodUP0eHNP4vBhUMQqcMsSUQ8qh1eVQ6vKodXlUOrSUfRjcWqRRQdLGm09PCYpcRHUXz2C6Mjw5qnhZLCtlDEzEH8qh1eVQ6vKodXlUO
				qJ61YMZT37BEJFagYJEYX9BdKy4npBt6Vok2yWCI2bB+4zD2B28oCJBnTBCzpxHNfjUkMMLJYdxqLN3BjpBtXSDaukG1dINqh7PFhHtgiEitQMEiML+gkNSLMukG1Q9niwj2wRCRWoGCRFlpcHwMGoHGWzF76JNEGlzUfwyjqf//EAD4RAAAFAQMFDQYHAAMAAAAAAAABAgMEBRESIQYQMUFxExQVICIyNFBRUmGhsSMwM4GR0RYkQlNgwfBDRID/2gAIAQMBAT8B6hccQgrVnYHa7CR+u3YDynidhgsponj9AjKCEr9VnyMN1GM5zFkCP+CGYqWUV09zi/X7B59x07zh28WPTJL3w0CFk/IRip27sDTdxN0zt2/wPKGqHbvVo9v2DMSJFb3SZiru/cS5BPLtSkkl4cSPKcYVeb9AzlPIT8RJH5CPlHFcwXyQ26hwryDtL+BTJBMMqdPUFqUpV9WnNYLBYLBYLBYGX3GTvNqsELKVRcmSVviQjyWn032jt/gGU791hLRaz9MzMdx07rZWhjJuSvFdiQ3kuyXPWZgsnIZdv1B5OQz7fqHMl2T5ijIP5NSUYtmSg9HdZO66mzOxIcZVfaOwxTsoUOezkYH26uv8oUOP
				SkMtlbgIOTaS5UnHwClx4qMbEkJOUzacGU2h3KCYvQdmwHVJZ/8AIYbnzv0KUYbrc9v4hW7SEbKRheDxXR7J9GpRCdk2hXKjYH2B5hbKrjhWHnptacjcheKf9oEeS2+jdGjtLr26kjvCo5QJb9nHxPt1B59x1V9w7T4jFQkM/DWYj5TOpweTaGptPmYKIrfEFSCaO/EUafMgypw8HCx8hMgtSUXHCFQp7kRd1ejUeZtd1V4Ud+M6m+0m6rWXXhmRFaYq9ZU8e5M831zobUs7qCtDNAlr0lZtCcl3P1LB5LH+55BzJqQXNMjEinSGPiJEGsSI+GlPYINRalJtb09maVFbkNm24JsNcZ02l5o8hxhwnG9IgTkSmt0T8+u69U7x72aPDX9sxEKfk+pfLkYF2awxGaZK60mzjTqGw/ijkqDrMiE9jgYpVUTKRYfOLNWIG+WcOcWjPTZyor1/VrCFkorydHXNWm72YNRaT0A8dIIrTsIUijkwW6u8709zLiNyG9zcDjb0CT4l5iLIS
				+0TqdeatxNxkmZaFY58nJl9s2Ffp9Oua9K3WTcLQnD75sn6d/2XPl9/d1iBvlnDnFo+wyblWKVHPbmyiYvx907p+uekvGzLQfbh9euH3dzbU4eoKM1HaYixzedS0WsNoShJIToL3j7O9amladCj9cDzVBslxlpPsMWCwUppEps2F4KTiR9cVxd2GrxzZNsWuqdPV/fva8zawTpaUnmWVqTLPSXtzlIP5fXrjKPo6dv9HmybSW91K8feyWt1aU32kCCjsK3O2q6olF1xlGX5ctv3zZOH+XUXj/Re/nLux1q8DzsIvupR2n1xW0XoivDNk2vno2e/r712Nc72ansbrIQgJpt2pXi5vO/3z64fa3RtTZ6wabDsMUd/cpSfHD39dk7rIuFoTmydj2qU8erDrqtxtykGotCsfvmpsvfDBL16/e1KaUZk1a9QMzM7TBEZnYQgRtwYS311VYe+GLC0lozU2ecZ23UekIWlabydHu33kNINa9AnzVSXL56NWahQd0c3dWgvXryt066rfDeg9Oam1RUY7qsUhh9Dyb7Z2l7mXNajptWYnT3JKrVaOzNDi
				LkOXEhllLSCbRoLrxSSMrDFTpKmD3Rvm+mZiQ6yq82dgi19J4PlYGpTTvw1W8V+ox2ueoSq+o+SwVgWtSzvLO080WI4+u42IUJEZu4jr4ytwE+hkrlx/oHGlIO6srM6JshHNWYKry+/6A6rLP8AWHJLq+eoz4kGjuv8pWCRHjNsIuNl/AX4zTxWOFaJGT+tlX1D1Mkt85INJlp4jcdxzBCbQxQn18/kiLSGGcbLT8f4MptCucVoOBHPSghwdG7hBMVlOhJf+CuHp/f8iHD0/v8AkQ4en9/yIM5RzEHyjtFMrDUsrCwV2Zqg6puMtaNJEGq7ONZEa/IuKuuziUZX/IhAcU5GQtekyLiZQ1GRHdSllVmAydqD8lS92VbZYKq8tqItxs7DIcPTu/5EOHp/f8iHD0/v+RDh6f3/ACIQq3NXIQhS8DMuzt60sEShQ1sIWpOJkQ/D8Hu+YnZNNXDVGwPsDLimlk4jSQYd3RtLhaytFV6I5sMMl7RPFcLlmKZ0RvYXEyq
				+MjYMlOc58v7Fb6E5/tYiNkt5CFaDMh+HoXd8x+HoXdH4ehd0N0KG2slpTiXWlghzY5R0Eay0Fr8Bv+N3y+omVmO0i1KrTBJNRiK1ubKWz1EQqnRHNhhkvaFxXC5Zim9Fb2FxMpy9sjYMluc58v7Fa6Ev/axBL8w3tL164sBRHjxJJjeb3dP6BTS084hDf3B0nbLbBDmtyUX0CpdFc2BkuWXFcLlGKd0VvYXEylL2qNgyY5zny/sVjoa/9rEQyS8hSu0hwpF75DhSL3yHCkXvkE1GMoySlZW9aWCF0dGwvTMtCVlYorRVqOTad2Y0ayFPlqjPEstGsVA7Yq9gaLllxXC5Rin9Gb2FxMoy9qjYMm+c58hV+iLCUGZ2EODZX7Zjg2V+2Y4NlftmIcCQl9CjQekvXrSwQ/gI2F6Z1pJRXTF0LO2nY93+g0XLLiuJ5RiB0ZGwuJlD8VOwZOlyl/IVXoixEL26NpdcWCJ8BGws9UnJZbNCecYaZU4skJ1iWgkxFILUQbLllxahHNqQohRppGjcFaS0Z1rSgryhUJO+HjWWgUFg0tqcPWKp0VYiF7dG0uuLA3WHUJJBEWA4be7CDlXkKwLAEhbirCxMxTaaTHLXzhO6OvYE4HaOG3uwhw292EOG3uwhTpSpDZrV2ioQSkI8S
				DjK2lWKKwwzV30FYeIOuOakiRLdf+IYgU1Tx3lYJCUkkrqRU+irDariiUWocNvdhDht7sIcNvdhBisOrcSgyLE+tN4tjeLY3i2GKa0o8QzGbaLkFmkpvNKSY3i2N4tjeLY3i2Kc0TbZkntzOsNulYsrRNp7TfNDbKTOwRqawREqy0FmmIJTJpMbxbG8WxvFsbxbDEJBOJPx60//xAA6EQABAwICBggEBgICAwAAAAACAAEDBAUREhAVITEyQRMgNFBRUmFxIjAzgRQjQmCRsQbBQ9GAofD/2gAIAQIBAT8B7hECJ8BZBa6kv0prJUeiey1HoitNS36UdJOPEL/sais2b45/4UcQRtgDYdWaugj4iVTdoS2CGPupDzPjhh+w7RQt9eT7f9qSoqJzyU2wfFU8Lxjg5O79SaAJWwNSWOJ+B8FNZpw2jtRgQPgTYfsKnheWVo25oRZmyt8mSEJGwNsVU2Rn2wv9lNAcRZZGw/YFjixlc/DRJKEbYm+ClvcI8G1HfZP0iye81Ka81KC+ytxCyivcJcbYKKYJGxB8dMsISDlNsVWWcg+KHa3f9nII4CkN8Nqqr0T/
				AAwfymGactnxOoLGb7ZXwUdnph3timoKdv0MpKSk/ULI7XRnwPh91PZZR2xvivzIi8HVLeiH4ZtvqopQkHMD46a62BP8Q7CU0JxFkNu/cXwwVFZyP45tjeCjiCNsoNh1JaOGTjFTWON/pvgpKWspto7vRPcXkbLUDm/tSMG8H2KmqpICzAqOsCoHEd+gxzNgrlFPGWWR8W5d+M2OxlbrY0X5kvF/WkjEWxJ1Ld6cNz4or8HIVr5vJ/7QXyF+JnZQ1sMvASqrZDNt3OqqjkgfA9EE5wnnBUtSM8ecdE0IyhkNVdKUEmQu+7RQYN08n201l5Efgh2+qlnklfE3x61LdZYthbWUcsNVHs2srhQPTls4X0W2s6CXbufTXUjVEeXnyRM7Plfvm30vTzYPubesE+za6uNyeV+jj4f7+TTVJwnnBAUVZB6Op4SikeMuWi01HSwYPvbZpvdNlNpW5982in6ODM+8tF5rf+APv8u21nQS7dzq+QbGmb20WSXLNk8dNxiaSnL0/wBd8RR5zYPFM2DYMqmboo3kfkjJyJyLn8yGT8RQEL72/wBbtFGeWcHbx03GQ6c+lHhLY7d8WkM1SPpovs2EYx+PzbPLhK8b/q0C+Ds+m5R56cm+/fFj+u/tovhfnM3p82CTo5BPw0M2L6TZnF2fvixfXf2/60X1vz29vn0g5pwb10zFljIvBu+LSeWpb1WKvwcB/Ps0WaozeCxVbN0cBGir8aDLz3f/AH274hkySMfgmdnbFldYOkp39Nvz7NT9HDnfeWi+z/CMTe/fVoqOkgy8x2aK+l6CZx5cvm0FI88uXlzTNg2DJ3w2uqyo6aZ5O+rdVdBNi
				+59+i4UTVEeHNtyMXF8pb/lxRFITAG9UVINPHlbReazIHQjvfvyz1+ZugPfy0XC2jUNmHYSmhOIspth8mlpJJywBlR0IU44Dv8AHRV1QwR5yUspSG5lvfvxndnxZW25tM2STi/vRNTxyjlkbFVFjJtsL4qWnlj4xw6sNDPLwiqaxi22Z8UACDZRbDRU1IQBnNVdWdQeYu/6K8u3wT/ygkE2zA+Oh2R0cBcQsntVL5U1spW/Sgp4g4RbqVl1jh+EdpKeoOYs8j/sGGokifGN8FBfeUw/worjTybiTOz7upJPGHG+CnvUIcG1VN0nm2Y4N+xhkIeF01bUNuN1+PqPO6KpmLeT/wDgVqum8q1XTeVarpvKpLPTlu2Ktt8lPt3topAY5hEt2KO10zC75eqNrpnbhVSDDMQjyfqWmjimAnkbFXekihYejbDFUMYyTiBblqum8q1XTeVarpvKtV03lVTbacYiJh5P3rUXSoGUhZ9zrW1T4qlvRsWE25SRjILgW51IGQ3B+Soe0B7qXgfqhwsq3tB+79SxfTL3V+3B91bO0gqgnGIibwWtqnxWtqnxWtqnxR3OoIXF33961NLM8xOwvvdfg5/I6p7ZNIWDtgyd2ZlPJnkI/F1Q9oD3UvA/VDhZVvaD9+pYvpl7q/bg+6tnaQVV9E/Z++ME9RG2zMvxMXmZCYlwuqqDpY3jxwVVSnAeU1Q9oD3UvA/VDhZVvaD936li+mSv24PurZ2kFUi7xEzeDrV9T5HWr6nyOtX1PkdFQzi2ZxfvTBVX1z930CZC+IurbdHN+im3+KrqVp4nHnyVD2kPdScD9UOFlW9oP3fqWH6ZL/
				INwfdWztQJ3Zmxdfjafzt/K/G0/nb+V+Np/O38qqrIHhNmNtz961f1z930iTs+LaAbC4YN5v8Aal4H6ocLKt7Qfu/UsLfll7r/ACDcH3Vs7UCq/oH7P3zVfXP3fTbKEppGMuFlLK0YOZclSE5VYk/N1LwP1bfM0tOJK80RMfTjufSAET5RVBS9BCwPvV9mYpBjbkrZ2oFV/QP2fvmSyRGTm7vtWoYfM6is1OD4vtROEQ4vsZlcrl0/wBw/2qDtAe6IcWwWoYfM61DD5nWoYfM6uVINPKwD4K31z0x+jqOUJgzDtZTWaA3xHYmsEfMlTUMMHAyuFzCBso7SRE5PmJWvtQKQGMXB+a1DD5nWoYfM61DD5nU9liCMjZ32N3prCT0WsJPRawk9FUXWYG2YKeqlmfGR9FMTjKJMtYSei1hJ6LWEnotYSeiucxSys5eGiGokifGN8FQXKWXYalnIWxZVd1qCdwxw00RuE4ky1hJ6LWEnotYSei1hJ6KorpCiIX8H70//xABQEAABAgMBBw0OBAUDAwUAAAABAgMABBESBRAhMUFRYRMgIjIzUnFzgZGxstEUIyQ0QlBicnSCkpOhwjA1osFDU2BjgxWz4kRU4WSA0vDx/9oACAEBAAY/AvMOqPutstjylqsiKd2h0/20FX1xRgRPK4Gx2xhRPJ4Wx2xhm1Neu0rsjvN0ZNROTVQDzRUGo/
				oSpxCFy1yLDihgVMnCn3Rl4Y1WafdfczrVXWgy0i8pB8tQsJ5zAW7ddcl6Eqo158EBsvvzJHlukFR5v6DVceUXQU8KUMvodv8A+wmZu6ozU+sWkyCDhR62nh+sW25SWkmk4ENsoApwnKdZqsqW0uZ1NJX0iAJqXlplOirauz6QEzGrSKzvxaTziA7LvNPtnykKtD+gpqdVTvCKgHylZBz0hbziyp1xRWpWUk5YqcZ/A1WUmHZdzOhVKwlq6zOqp/nNCiuUdkatJzDb7fo408Iyf0BKSYKgZp22dKUjFzkc17UpSXdmF5kJrAVMrl5JOZSravp2x4RPzTp/tpCO2MKZpfC7GBEyjgdjweemmj6YC+yCqWcl5xOYGwr64PrGpzcu9Lr9NNK3w/KPuMOjKnL2wiWupYlZg4A8NzXw73oiowg+fpCQlmlvqEtbSlIyqUa9UQl667mrLx6g2aJHCcvJAtqlZCWTiGBNeTKYKLnyrkyf5jhsJ5sfRBsPsyozNND96xU3UnORykVYnbou864rMsd0I/
				vS9nopARPMuSKz5W3R2/SP+nnZV3gWgwp65K+53MeorNUHgOSFS82yth5GNKr6WHrU1c/+WTsm/V7ITMybqXWlZsaTmPn1TtlAcIsldMNIXK3JsTD4wKfOFtHBn6OGC/NvuPuq8pZ1gErPzLaE4kWrSByHBATPSrM0nfI72rsgIeblg+vyJlsJXyK7DBmLiTsxc1w42ydVZXwpPbFicYS28nymzabXwZRwH6xqE23UjaODbtnRGovi20vcngNi4O3ReQ6EtrKDWytIUk8IhT8jKsyM6BSYZbwctMo8+KWtQSlIqScQhcjc9am5AYFrGAzH/G+G2GnHnFYkoTaJgFTDcqk5X10+gwx326TCD6LZV2RsbqoPCxT94JZmJN/RaKT0QTNyLzaB5YFpHOMEJRb7rlB/BdOLgOSLcqujqd0ZVt0f+NN5yTm0Wm3MRyoO
				+GmHJOY8nCheRxOQ3m5uVc1N5o8h0HRCZlnYODYvNZW1ee13GknO9N+MrSdsd5yZb1BhJhEzdYrlmThDA3RXDm6Y1KSlmpdHojCrhOM65TkulMhN75sbBXCnshNu3KzLRtNuoOxWNGcQUOWWroMDvre+G+To6Lyi0ms7KVcZ9LOnl6aX0TCbSmF7B9seWntENvNKC2nUhaFDEoHzy46g+FP96Y0K33J2QSSSTjJywEpBUpRoAMsInp9AcugrClJwiX/5fgrlZtFQcKFjbNnOIThsvyyrbavJeT2GJeeY2j6a03pyjkN51TaaS88NXRmBO2HP0i+9ct1VXJPZtVytnsPWHnlbCFVYucNRT63lnnwe7e/1qaQCAbMqk/Vf7Dl/DUWk1npSrjHpZ08vTSJy5SzsVjuhrQcSv25jeanANnIuipriQrAfrZv3PUbaUzCgyoYrQXgHJWh5PPE1NqFpMq0p0jPQVhbjiitxw2lKOUxKyLdbUw
				5ZJ3oynkFYal2U2GmUBCE5gPxJCYZSBLz74UnMm3sFj6k8ovXVbWLXgy1AaUi0PqL71y31ajP3P7/JTCduhNcI0gKw+954nBasqfKGxp2QJ+gN6dnVWT3I0EJrkK8vMk8/4rU+3geuY8F2syTg6bPNecbVtVpKTfucvZWXnNQUBlC9j0kHk88SumdT1F3px2mzXNlJOgITTpP4s7J7GsywttNcQJGA895a1YAgVN9p5GBbSwscnniUP/rU9Rd6aGUTquoj8e6rhVYpKuUOkpIH1vykri7ofQ1zqp54nFWSpTCkOJ0bIA/Qm9dWVKtkQ26lPOCer+P3Nsbc+6lFMtkbIn6DnvXOlaBSVvArBxFKdkr6Axq4R4FZM+KjBaxU4bZrweeJuTJsiaZU1XNUUrCm1pKFoNlSTjBiUtGjU34MvBvsX6rP4/craqsXNTqWi2dt+w929O3UWNiynudvBjUcJ5hT4vPTryU0l7o9/T63ljnw+9FQaGGJkkd0I71MDMsduPl/FcmKp7qd73Lozqz8Axwpa1FS1GpJxkwEpBUpRoAMZiUksGqpTaeIyrOE9nJ56WhpNZyV76xpOVPKPrS8HTaXJv7CYQM2+GkdsNzDDiXWXk2kKTiI/
				DdnJtwNMNCpOfQNMKmnaoZRsWGsjae29/qr6PBpBXeq+W7/AMcfDTz4u7Umg9zvnwlI/hr33Aenhvai6FTFzXDVTeVvSnshM1JPofZXlGTQc34OqzjuzO0ZThcc4BFt86lLNnvTCTsUdp03m5OXwDG65TA0nPDElKpsMS6bKdOnh8+LbcSlxtwWVJUKhQhc7IpU7cxRqRjVLaDo03u6JCYWw5lpiXwjLCW7ry6pdf8AOZFpB5MY+sWpKdl5jQleEcmswwe6boMaoP4bZtr5hCmrkS/cyT/Hewr5BiH1hT8y84+8vbLWak3kykk3aUdus7VoZzAlpYWnFYXniNk6rs0efilQCkqFCDiMLm7h2W1nCqVUaJPqnJwQpiaZcYeRjQtNCLwIwEZYozdSeSBkLpUPrH5os8LTZ/aKKuq97qEJ/aCJmfnHwci3lEc2sQ++DIyBw6osbJweiP3gSsiyG0eUcanDnJ/oHUp+VamBkJ2yeA44Uu5M7T+1Mf8AyHZB1a5r6kjy2hqifpFFJUkjONZZlJOZmD/bbKoCpvUbntembS+YfvCXC13bMj+I/hA4E4v6G8IlmH+MbCumNlcmR91oJ6I/
				KZTmjvVzJBBzhhNYoAABkH/sJ8fPy0dkePn5aOyPHz8tHZA1RxmZTlC0U6IsJ7xNpFVMqOPSM96emGVWHWWVKScxhpJniQpYB72ns1rgE8aBRG5p7IkH3VW3XpdC1nOSNZLNyUxqKHGbShZBqa6YnhOzGrBlKLOxApWuaJyZl16m80kWVUrTZCPHz8tHZHj5+Wjsjx8/LR2R4+flo7IkGHZ0qbemW0LGppwgqGjWMaiuxbtVwcEbv+kRu/6RG6JXwpgIfGoqOXybzy04FJQSOaN3/SNaRq+XeiGFqNVLQCbxW4oISMpgiWRg3y4wvqHBgjxhznjvoS8OYx3tVFjGk4xffQl6iULIGxGeN3/SI3f9Ijd/0iN3/SIaccNpaq1PLDGorsW7VcHBCS+vVGsopAWkhSVYQda+hL1EoWQNiM8NOOG0tVanlhjUV2LdquDghaHXLaQ3XFpEKDS9Tc8kwpCnSFJNCLIgK/iJwLF8NNHvysNd6IS0h7HjNkYBGe9ITDksouPy7bijqhwkpBjxVXzDC3bllxuYQKhpRqlzRoMNTLC7DzKrSTEtNJFEzLSXQM1RWLqezL6IY4xPTrXf
				XMXK9kb6o1kl7P8AcYup6rf3RdH1U9cRIsOirb8w22oZwVAR4sv5hjxZfzDHiy/mGGn2pdYcYWHEHVDgINdZKe/+0LbdFUhu1j0iNor4o70txtXOIsujAdqoYlQmUdNUKwNk5DmiZ4pXRrlcMSvFJ6IU84aJRFtZokbVORMBx06i0cWdUblbOdRjCwnkgqlVmu8VljymnWzyiLKqB9G2GfTemuNV0w064glaq1w6TG5n4o3M/FG5n4oS02KITiiU9/8Aa9qLp7ws4DvDrZrjVdMMe91jEp7/AO0OcUekXu62xsk7ppGeEuDCg4FjOIStBtJUKgwp5eTEN8YU4s2luGKqHfnMKtGi/c1ty6MkhaJVpKkl4VSbAj80kPnJhamZpmcmad7baVaqdOYQEpBWtZoAMZMSUqrbS7CG1cITSLq+zL6IY4xPTrXfXPTFyfZGuqNZI+z/AHGLq+o390XS9VPXEXK9sa64/Ak/f+2HOJPSL7jRpUjY6DkgKBoRhEOu4tUlyr9OuVwxK8UnogSyTsGMelUGZeFWmzRI3x1pcbHhDYwelohDyMaDizjNCXEGqVi0DE3xyumGPe6x1sn7/
				wBsPMuYiyaHemowwpl3GMu+EJk31aGlHo1k3xqumGPe6xiT9/7Yc4k9IvUOEGNjuLmFGjRHcjyqIVhbJyHNGxPeGsCNOmO7HRsEbnpOfWJWiRmlIWKghs0Ij8vnPlGKPMutH0k0hie1BqZLBrYc/wDuOO6ZRWEYHGztmzpi63sq+iJfjE9Ote9c9MXI9ja6o1kh7N9xi63qNfdF0/UT10xc111YQ01NNLWo4kgLFTH5tJfMj82kvmR+bSXzIbZaunKLddUEISF4VE4hrJL3/th3iT0i+6+qmxGx0nJAAwkw61j1KWKeZN7xtn4o8bZ+KPG2fijxtn4oVwxKcSnohx043FFRhhmlChArw5ddMoTtbVocuGGsNS2Sj6xN8crphlt2YaQtNqoJ9Ix42z8UeNs/FHjbPxQHGlhaFYiIkvf+2HeIPSmLO1dRtFQptwFDiDQjNHc7x8IQMB/mDtvzfHK6Yl/e6xiS9/7Yd4k9IvrZXlwpO9MLacFFtmhhLQwJxrOYQltAsoQKAay5HsTPUF4tPtNvNnGlabQhd1LlJIl0YX2MepjfDRDM2knUSbD6N
				+jLF1lJIKTKLIIy4Il+MT06171z0xcf2NrqjWSHs33GLr+o190XU9RPXTCGmkqccdUEoSnCVE5I/J7pfIVH5PdL5Co/J7pfIVFynXblXQbabnGlLUpkgJAWMOskvf8AthxyYXYQWimumojxkfCY71qj6tCaRadNlCdqgYhCZ15JDTeFuvlnPE5xK+i94lM/LMeJTPyzHiUz8sx4lM/LN6T4lPReBGI650b1KR9IUd88acwic45fTAcaln3EKxKSioMeJTPyzHiUz8sx4lM/LMMIdQptYtVSoUI2RiS9/wC2HeIPWTe1ZkeEtj5gzQFJKkONnBnBjDRMw3t0/venOOX0xL+/1jEl7/2w7xB6yb6nTQrOBtO+MKWslbjhqdMIfRhptk74Qh5o2kOCo1lx/YWeoL7jLoCm3UlCwcoMY6xbVtjcdNfliJfjU9Otf4xXTFxiP+za6o1kgK4e5a/qMXY9RrpVF1fUT10xcf25n/cH4Ej7/wBsFuXbLiwLVBmjxRyNwDYzqUIDk2vV1DyBtYAAoBE5xC+rrl+sYkuJT0RMsUoEL2PBk+kM79gakocGL6a1S1kJQgVJOSH5g174qorkGSJVtW2s2jorhid49fTEt7/XOtkf8n2w7xB6yb6p6WTshhdSMvpQh9lVFo
				+uiEvNcCk5UGJ3j19MS3v9cxI/5Pth7iD1k3lLUQlKRUk5IK8IZRsWxozx3e8nQyD1o1VseDPnB6BzR3I8rvLx2B3iv/OsuL7Cx/ti+9JsOBV05tBQhKThZB8s/tEvJSybT0ysNpi6Ms3uctc8tJ4AmkS3Gp6dbdBhQoh10vtHOhRqOzkhFw5lxLc1LV7nr/GRjpwjovuTEy6hlhoWlrUaAQ9OoBEukBpgHHYHaSTyxPXQcFlM8tKGqjGEVw86vpF1vUT10xcb25j/AHB+BIf5Pth72c9ZOtneIX1Trl+sYkeIR0QJ5lNVsijgGVOfkjVU7JtWBxG+EB6XWFpPOL5JNAIMnKKqx/EXv9A0QFLT4MwbS/S0Xp7j19MSvv8AXOtkP8n2w97OesnWGclk+DrOzSP4Z7IDqMKDgcRvhE083hQ66pSeCsSvCvrmJD/J9sPeznrJvf6eyrS8ftgINQw3snTozQlKQEpSKADJDku7tVjHvTnhyXdFFtnn0xqLqvCZcYfTGe/KybcpIqblGUspJtVISKR4nc/
				mV2wW23JaSScrLey5zWLDaX5ycmFaVrWY7unrDl1HU0oMIlxmGnTF2vY3OiEODG2oKjxO5/MrtjxO5/MrtjxO5/MrtiYnZptlpxqaLADeKgSg/dAslLN0JbCw6cvonRBl5tp2UmmTwcoP7wlp4s3QbTi1YUX8QijVy5RtWculX7R4fNFTQNUso2LaeTthExMpclrlIOycOBTuhPbDUvLtpaZZSEIQMSRF1/UT10xKzjYSpyUdS8kHESk1jxO5/MrtjxO5/MrtjxO5/Mrti50k5KyKW5uabZURWoClAay5/wDk+2HvZz1k62e9nX1TrnPWMSHEI6LypmQRabOFTQxp4ItsOrZXlpFHmGXtI2MbCTaSdK6xR96je8RgTAIBal/KdI6M8IYYTZQnnOk3p/2hfWhuVbaZUhutCrHhNY3GW+sbjLfWNxlvrDM04EpW5aqE4sCiIuf/AJPth72c9ZOsUhYCkKFCDli0iqpR07BW90G9K8K+uYuf/k+2HvZz1kwVihfc2LSdOfkgITadefVyqJhDCaFeNxW+Vf1dlPhMuPjTmhuYaOzbOLfDNDcyyaocHNojdJz4x2Ruk58Y7I3Sc+MdkWH3J6yMOBwD9osXOk22CdsvGtXLeulLrtBD0upJpjxRuk58Y7I3Sc
				+MdkbpOfGOyN0nPjHZEwywXFJXNqXszU1sIH7XtRuhKNTKMloYU8BxiLUoqbTaw0U4CB9IS2tbtk5iIYnFy7k48oWvCFWkp5O2AlICUpwADJen5Z0qCHUprZx7YRuk58Y7I3Sc+MdkbpOfGOyN0nPjHZFzH0OTVtmbaWKrFKhY0ayU1QrFi3SyeCHFtlwkslOyOka2aQcS2lA80bZ74hrVG09jziJVtNaIaSBXgv1eZAcPlo2KoKWi4QN8YCVE0OaG31treWcPfDUCAlICUjEBkvzThU7VbqicOmNs98QjbPfEI2z3xCNs98QhhpFbKbWP1jEpqhWLFulk8EOONlwkslOyOka1cu+m024MMbZ74hDDSK2U2sfrGJTVCsWLdLJ4IcW2XCS0U7I6RDi3nHdhsEgHAkQ8+m2pxAATaO1rrXlJ1RFvZUScEOIl3XLLhqQrDH//
				xAArEAEAAQIEBQQDAQEBAQAAAAABEQAhMUFRYRAgcYHwkaGxwTBQ0fHhYID/2gAIAQEAAT8h/QpMXgx7tO2TkX6D5V3Yv2zTXdfp1QBZy+WIpkMBPeK9AwJgjI/+EN0AJVyrATGYn0upbZxpu9Z6GxobFTU1NTWThPwFHtQqvFRWzIezXy3xxIP/AAa5yGDZXC6RfVIaKz4Q1ty1t1CNKYN/ER0J3nsHJum6R0mjtRwdilHcmgZLBnvhiFYRIzJ3P/BT3p8MS3eQ70rzZ4tL6qRUVJXWu+u+u+u+u+u+u+jAJmug6mzQgcOMO+C+jo0CcsVXNMRbP/gEe3w4Xpd3wN1i+O7GBSIBjAe1tAGsoP3rH90/mFRLcn+xp3NsI89Kmj2En7UNGND9hwTpxM9c/g0TAbNqIGAsjfJ4TCjNAEiYP768n95g06EXG1aupXZ4/odWsjhAFbC/qND7FjusuXek/R/0Jqhru8faKt9ukPuNEigxlcdTSy
				+6L74Q8TWzzxbVqW1tnid0nSsIYBjuZJuW4TV3XRgHVvyt0xq19WewGI7P72zscJMyguhL6tDBKXAfPvRifOkRsZBsWqampqw9BO0TeygVGy/dzXoURZ+v96C9ykoJPRGye9xlULnX69p9A6MJpmKRh9UvrBrGCb/ykM8m5CzXaXCN0slHrDaOwwaDFrn7xEHn4ExVpBiv+UtmeelTwsLKW6IKw2rhfuDuUF2oV7tB3Fu/bRss1P6w96xE1fMr3VLHYKWHr+82pWk82fZz2LfHCPRpDp1yH/GylGcrZiF4PlkTLgz6QMxzDNaVmHEM6LccRzN5D90bAaO0Z09y2TNAYKIAxayWaKXXh29lBIgh/rB1eUmEkbJrTTxcir6XeD1qS14I1CwTMeiZVHBBDDC+4ZncWo0KSY2+yLbN1THAy0Fqjp3D0wWlB4DIUidv3Mb48OoX6BLpMM6Zs8olWtD/AADSpwCiHXhz211OWBq/g9oIgba/NYUGgs207hInUxKlMx9jhLuCduAYQRl06GdgwOJvPZvrpueOBl+5S1mQyOPqfC4Fz1aqWg2Z3BZD
				+OBSEGP8ots3VhEuMWYLWUnHCIjVuwN5xxKnK7nK9T9xnXAxjPh3ilSBxxmVe9RbhBJz49hdqC2cmWgPT8krEXm9dBZiZHAiquvL7JU1NI2tCupbqkFzxFGH7eInE/UR3qTRXQqF1NnYflwJicmUjD16DJR0SIaiRU1NHNgXIwidj9wBCjmN+GO/VkVHr635YiugMpTsQe1GD0p8pVtAJ4jtKVMlSfH7hthwNO8lE0H+b+co8P5QI4k9XXjKL7fuBsge3RwQ/UaIPmvzoWVJTiYnRPhSXp/tioJHj8SsFiAQTIH7iQWHGb/0JpfVwYEwjUhu3HTZ223aT+c77qxFXn2hd1U0qG/UJBUckB0rH7mFNZwYlma+0KcEAyJlTPR7BEvQQOzL8o2YFV5zJ3HQMylYaflV1XWjH+PlXACoqYZG/c4bHQfuomXOuRi+Q0UFhESyOVFlA4szt1BjURnNGqY1Ks/
				xy45DFZBmsAq6IE3/AFsV+gqaRJ0QC0Uj0Hqb/wB4zNPHjPvcdOhE1Zey2+4z++B2az3SN3oYrZ/CxGGzRPwbtijU4L5uviyipoklr2Wdf0ZsVZYgOOZWqZXd/ePnLLEIRMxKi7+EsfU09jeFmjdjo3Fo1h1rBzlVun4lAljyietiO9DPExKA3o78jOU71hjtAdf5Tsphgyn3zU0zm8sM6+R7uBerDyxDVOgyydVX96n+g0g4iVnnNQ73uW3MKYbsNes4FaVSBhKCYNgjtIqDBqSrCHxCoWJl7wootU1Nf6QaWfVbrhRmHdflE+2kf+Bh5JB46bZ2aM1GIeHQPnupxxvsrWZx3pBbgiCcQZWvW0T4D0KR1V3BtvuFNlv4hvpO8pr/AOGhBenwanTPfAhU4JN2/dOCew9yRNFLZgID/
				wCDIkSI2ZUVPRhFJSb8CGrk99uFgWrjAWb0FYkxxeUDUIMMmlscUhEq25Fu5xOSbGn2MDjyeA0KlnJiXAwbYLyxIkSJAocrGktoeTt9EzFmPWt147VuvHapq7Ao9ooUNkTlfyhhJcpdJPaIq3XjtyiJQI8CpUy7VThjN6oMqeq7VKNmj8KnB3ZUGMy298t7VgEE2fGh7DsAFtW68dq3XjtW68dq3XjtU3cWkTDK7fRMxZj1qRBWiibkUBsoGCcsfYdgAtqk7i0CYZXb6JmLMetT0wJEvBl1qQYGCMNSU3C2+lWMnRjr0eIqy+hP/
				Zpdua1ZzhUWSwMXF4I2XSZQcdWvN/ulkjtOZHHwtjT+ij5J9ZJpV6FETA4e9OTQm8Czl8lzaUvkbu1R5HxpJamKZpMSwejXm/3Xn/3Xn/3TvGQsMH1OVlgTQCF4Puv95S7QUtRT/OirHhkv8jlTjx766+XPc/zSnwLKjtKd3Y3pnIVvA/u9O0uJFrY0oeKLNr/Kgw+pPuhtJvL7Gn4Oi0khexl0cIvLuq6WWmYF9V/tq/21f7ampTITOLP3w566jM+Dyihkkw5IPIuqYb8g5rb4KYB2Oz46VOh4DZ0BUYWCVfMwZ+QU+CUY10KghW19vZw6qCycKAEScZrzL7pZscLpZFAeLgSpwKiHX4wRL3Kcup4Jk5fLc1KeSrv7R5NxrM6mUtfyPxUw3TFuXipSS5DEaIIhD6TLm5/n
				+ac+NZSZgW8Pot61dI4cN/Y5YgMqJc+LUpziPVdxUSj9UJJUHk313DzbjGOIMbGKHiMMYZCUa+EU/r05IPLvpyd+TcVM3ABCODTGDff3dlROSErZ3d89amRrge/v+KzwEF8kfPTkDQw9quJbCvE/qtlpP86U6IUkdRyGTeKPJ0T04+HBpy/GVTeFZy+B5qUvryF3Yq8iY1cqkSJkMJCbBX+Ar/AV/gKF/sdSgN1fwNUtoJPB7b1og1EAYrV+sT6yldfK5znC8ZFp6058WyoxSOtVmhjlgdd/dPNZyUKICJD3q525TlEg9EqDz76U21jpKHtyOc6Vd0uRhh9+LVGwUutN0dmp8IhiqEB449Toz4xebfUy35e1S7DT8CtWn29PGj5/PKg1gGyOPXSnh3hW/
				ZezWP4kfIdxljhhB54WCuTUxNzdpqigSDPU3nWcvmealPI932q8WY1UqmG6RUugBmrXhX1XhX1XhX1S0Ra3KmLAcr0KGyCzLi3RrwD6pVLICH1aOAxX/wB3eksNBZ/EfNOPKv5ggggiMMiWaw5ib/bTQnEhI68wBYoel+6c2CdxD9VD519TaSkIDDfryCCCO8vGATDkeBhoUyngdKmvpRYVYYABZ7NnhH519OXvyt6YYpZTxjNpOsUxU1PCLJLZ5RKZT49VOeK+B5KIUJ6UWe5rV4sonFzq8ty8qibJ8inMEi7nJYZyQ2f5vCKzCmnv/hX6VBtiEgn3OBkRzAaO2NBoviyXfNoAwIAIApR5t3M8MzpT4dtJeOQmb7+4VcojaKF3eHvyu1BhwMWrYBwxYA7EUUaW9IU2PaY7VD5l9OTv+E+jzDh4bDo319amITsc1s0tUOb6FqLzL6UnfkPkoRmZyAGLQbua8vsf5pWqafcvod9qSZimOGb9z/lYdL4bfx+XfkqeNM8X4gUOhBO52GofjnIVxdjF2KlXurs3sV5Dl5U1wlQNRdJep0tIGnAisOsttmjxRYuBMoxhbIu4XfYFmVM/HEDfTsodXUippPzMu2SzmceSZ0p8C2k8R+Xxfk7O1GAcbPBMv+1jST1dEyeJNjSqwFR6Bs5zwOfTGeQJXBZd+e08I/
				Pvp91+Iuk1suZMbPq9vSplseLf2MqdBUSQqSVMOQXbJttAnufZ7b0AkCHwl/tFHMZADAooJss2QNyrZJpMDkNkrGwQnjk/V/7xhwBWASt8YOGAZIw/KvsKF5LUizXFrBaakvi2bz7C0y5fhOoBUgOCjPJgwYC5iiykt85VHZEgWljv/ZvrM7+ZMoTA2OoKJnsJIdMzuLTbIs2dofNFWIQztdTumpQCDWOv/wAG7ahCHLYEBUirsMAGoSO0nJgwYB0i7MKl8YfxOn1RzKPCM6c+FbQMII4lJe+YzrNsqhudtTZMHvQBGZi35pAa6X2wUoYmV62vejBlyLpqV7vfuaZrwj8G6sYloSk+1f439V/jf1X+N/VLrHIH8DmfN75VHSByqA2oqXzaa8Ej4u+fGEk0e5t/GtBpBTNKpKHa97tkccajkDHGevM761G+kSwzFs1ccBGbzW48jNmzlwhZPVYA2IO9d+2HB6UHcAcnKzZs2b36KEjIBazhCd/
				4I9hoCePbEMVA4reA/FABAL82ID6qG+EBADADgSihqLHt6crNmzZvwgbUgTotybLiBj07Uq0xAkT6bcs6ZF2MLK88+uVZTre90p6FnkgHF55wjPvSbyiw/VE8p1UBBLJV0I96OCMAgHENWPjErdK8c+q8c+q8c+q8c+qXJrBct0+62XEDHp2pWJiBIn025S8xAzNzcpn8z0pcmsVy3T7rZcQMenanOnIEifTakYbRoDS2t6DpeicSUtjaPXljiWMgVLwRrUFpGwDqW8gr/9oADAMBAAIAAwAAABAAAAAAAAAAAAAAAAAW
				+R0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAXWSCwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa4AC5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB1gAADegAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgVGl0BqgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAe36vtWmkAAAAAAAAAAAAAAAAAAAAAAAAAAAAACkgBtstjMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZU3+O1AsmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYdkAAgIaCYAAAAAAAAAAAAAAAAAAAAAAAAAAABkgAAADEDJQAAAAAAAAAAAAAAAAAAAAAAAAAAAChAAAAAJBAEAAAAAAAAAAAAAAAAAAAAAAAAAAAe+AAAAADjymAAAAAAAAAAAAAAAAAAAAAAAAAAAZcAAAAADUpEAAAAAAAAAAAAAAAAAAAAAAAAAAAZsAAAAACKNkAAAAAAAAAAAAAAAAAAAAAAAAAAAR
				QAAAAAABoEAAAAAAAAAAAAAAAAAAAAAAAAAAAX4AAAAAAD8gAAAAAAAAAAAAAAAAAAAAAAAAAAAEoAAAAAAA0QAAAAAAAAAAAAAAAAAAAAAAAAAAAB+AAAAAAUygAAAAAAAAAAAAAAAAAAAAAAAAAAABNkAAAABnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWOAAAAOxIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUXnwB/emAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB0FbhWl8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlWQPIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeGMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2li4AAYAZ623AASASQACACSCASSQSAACASAAAAc97sADIAILJKACSASAACCQQSQQAAACAAAACSSCU5XcADUAM7gAACQAAAAASAAAQSAACCACAQSSQCLO1MADcAdZADgAAASCSSAQAAAASQCSAAAACQQD8XCUAA0Aciy3gCSSSCSSCAAAAASQSCCCSACSQC8BL4ADMASXAAACQAQAAA
				SQAAQCAAQASCCASQACoB0oAAMBwkgAACAAAAACCAACASAACACAQQQAQALRGPbYAu6JLYAAAACQACSCSSAAAACAAAQQSACTbVgbbQXigHbbAAQAAAACQACSAAAAAAASACQACT/xAArEQEAAQEGBQQDAQEBAAAAAAABEQAhMUFRYXGBkaGx8BBQwdEgMOHxYID/2gAIAQMBAT8Q9hhUGah3pCGTQvWI60VsXgfdLvDwfdXk930NWUt3B5NtAkn/AAgBLRpEpffODHe7RvqXt6s/jDqJm2HNimxWhvew6NOSY4wnoH/BlW+mvieBnQZZ7QN2W7ewuhqEUXADm4vh+EwgdQ9xjhVkE6Svk6VGSrUk5nyFRl5gz/wWGUk1bg4sFKklMrrfSKyv6AE9S0e+dQsFxOJc8I2qEkaYbl5x/wCAa8EzsPtHh6SdrQmrcQ1ZeRZ1rpkAfdXwLxkVdAPGldSyH6qQAcnrZ1qch6nqfSGXznUfDzzfLtrQiSe/
				OkRMDVR2uLaPHlku4t7wg1atGHsdMXrSyrW2HK/nFKWZ0HzNMS82O1PZ5o/DVpwtU6kUwMed5zv6VrzsjRa2su4N522p68MHy2oqCnyTLxPGF21HJB00cn32QiDELjBrzpxhxsDbN6b07Wmfln4QwAMJk5NlQQDmWPydqsLFgQeD9NTcuV7uPeZMKEseYtWpibPWn2ycTZ+LqvaLYT4cz4t9EIAxgknEaTiuAs4xiZOHf3t00BSp4xuP8d+lQ1DR1CcAl6UWInV8EvSkXJsL9VgR43o+eeD2jrVpKGd5zLKVJ6x7N520qSEC9Xn2anoAUjzHM1KwwLRwTBPLGoaYKB1MnRohYtwyfLn3t1si+YvwMdbPRFgocdwhe3y77VGwNMd294/ig2NAJahc7nydaNWjtEudnEzOCVcJvjPU0zy5ehqnF1ZnHvFJ6CBa7BmfZeUHSUSOY+8iowt2fAt3gxpKm00oBK0MOXceL9cP0ugswcRzKBYLI4D6S/7q5FHJxOD6GZwG7ec+QlRUUiq20bvp7h7zIJgt/wCrOHoDZbe/wOLl+sFTi6s+LvFMhsbG5Y/HJ9I0FocrD1j1YFgpalg6w8PeCuwF5E0xeVVd2sflGxi8C2hZgANj9kXII+DBZ4noTk2nEJOpUvQ3FwV4TaagwxrZ7xHJiwdZeg
				+gYUgb/wADz/a10U8GzvHKhkmjZuRp9EnbFl0d4eHvDstNElCgWrOQfb+3VQOKWdaEBRKsClKkpL0CPvCTmB7egXKP94TzEc6IOvq+QBzY94nQSoep8LUNGL32jqPx++w16DgWvYONQ1IpIsuxa9CmhriN7o3lJpHvBYYJzIp2KEY4lW8bLbjd1j95ychHHH4OFQVGqwQ3bXkRz96XJA3/AKt40KMjbQsNizcfd/H9sgbdg1z4X9MaQJK0QtFo8ZCXdv8Ao0D3qcHG+Rx7xSQw1MttkNM9z+UYeVaP61TgUnsRYMj7zfr0shy9f4v3j3xGDIZOezjrv6XkG8xNT5MaGyDy3J/TerYBe8PmrtguwH268vQ3d4uRn9ZtHxAeO774iORsSmAy/E6ZPOoanWXR3LqGJrMtOV51oqQ2Px+ChfQLDORa8ij3cm14Fx1p+hMWoaBBu4Bm1eQW9xXy49+ASuacbN5ODhs2UnQjBqKJGRtq7BxnvQMXL6VZCuQfFdTRe1RUVFIG7N7sfN1GIR1dV/4GM/uNm
				+p54L7H1V4qZlp0piBH4NSNg1HMRra8j5qL3K1yLv8AhrtdwNfFiO1B2lF3bgUAEH/gny/RXl+ivL9FSwjkkdSKudd67jidsfRvoQjkxVgtU5m34nSyL4RSjSkuqS/hDqMmwbZ1KCbIhYETM3bVHkRDfiGNef6K8v0V5fory/RUj4JIuIHDL3VIASbW9Ba8q+6YgjiZHTMaXyEkoLsFzE147KuYHf8AHnL3rw2R+A5/u0I2aByjsq1oCdlBrV81avm1q+bTDhBLW8ZPdZryEkL4V/lqRiwwZt1yKgISr1aa/hOIQ14rKuanc/Hnr3rx2R+E3gvoRsUDknZXjeD3kIJDo1/vKs1DcpRjlPl+VTF3MR1oyWvtXMzv+PM3vQjwrD8JvJfQjYoMnodlLxAMugk1/rV/rV/rU9AmAm9bD3V4bJ6QjDJJp4VjgammeV9aAQZn8vKJZcvtXPzv+PMmvFZH4eUzoxsfKhyzuUCOVsCv8Fr/AAWv8FofYGWGwBL7pGvHZPVDcojs0iaaW9HsoeKd/wAeZNeWy/Aifi1qLZ+VGdg7lH5157xOvJZHqoEhBpq/FXwSirtCE4EU/FO/4sG5ZNm3+UVWOYL+Z6uVgL2sESw2Pu+gAvgbE/LHCumO5S+Fee846IBjgRXnNHyGwt61Ex4haAvl0Mt866xUiGFec15zXnNHCCQs2H5qxll0/DpU/
				wAHln3R6M6386eWI7zT2BkWHL7ocMGOehR8ICwKMhodykFWoeTNec15zXnNQ0QDfix7prPP+VrPP+VrPP8AlQ9vM+qjxnfn6HchErWef8rWef8AK1nn/K1nn/KnqhTbsekQw8xp2Z8/5QtTT9k1toAQel0o/ZWs8/5Ws8/5Ws8/5Ws8/wCUHVkD1290/8QAKxEBAAEBBQcFAQEBAQAAAAAAAQARITFBUWFxgZGhsdHwECBQweEw8WCA/9oACAECAQE/EPgayC5BWF1KNqH7EXo3/kFcre9pc9WxO8uVbmIjR/4QtaEQFgcW9w2X7JTOGntsEq5FrwIah1g/XpAcjQXff/B0lLY8cOOUbBQveOzTZfpKqSvV6GHsomaaKdE5y2l5j6ecAsTpY8GVRlklP+CxlHLF3EHhYFKaXQAKH8KU41lepnNdub+NdsqQLy7P/gK14Kb38H0pyjWWUHlOfaJum2r2iLkN0Bejul4TZU7yykfE5W8pRzGj6sjDXyyVvZGJ3Oc0fnj2CxV0DvHUKGa/cYSyZTf/
				AJB6HQWvbrLxFq9qS5uBBWB5TEVpV1rBaA8HtzmpPaMaBoyX7y55b4KMH1GdqYO3v1imiTyz52ta2ZQA6oduXXZDIhp7LXFc7niS1XWTafT1idRoxSm87koWDO4bE7bYJtWqxNuG85SsXaYO3ysuTC8xPzJ9BVqVyaO5gp+Obf8AHPP5xEBVYYFXAYfrp60lAzWkWoi0PuwgL92od4Y3hui1OCP39SygXK54NsJQap9mPWU+WNyXPmXoQaiczJ0gTfmTl6PCqPlTWPrQwczy/wCbpRWtzIz34cfRQKsZbVwbs+m2Vj1r9Fxu9upHx9NvNj3iOwl43nZ14Sp7Vw/Tr19GIWG6ZO7p6pXctWT2cYrGiWPzNOzrYy394AKF0QFKBHy08OGn8QSbTBMmOMiiYj3Jfoc2Tv8ASgJitmDw5jKSkobssu07nR+ZMAxHZhyt3+ilt4uPt/3+bELCdMnd0hpt1rqffH0q7bDzLTlX1Jy1tb7TyqfMMfiDi0hkVAKGwg4dc8De2Rcqqq7/AOlVdjTq6Ovo2WnBaPJlsthM62iuWljopZutr8xUSWVPLukqRgMSu79eX9cLQTeWnKsYomDBJUh48FG63pU3/
				MG219SVIzhzqXsf11UD3jfKQQSVIKViJy+YVlq6xSIO5er/AHcEvHW2UiazXkeXzFN1oVHLvSURqBqPJPv+7lhK72z7XdKIQTaFm1sObLTuHdvrwU2/MIViHg1hK2G2WHLbDdfyr/daJibsO++U0lC8m1sLDi14fNGacRsw5WboglGJjK3Y/Lt39QWFatP27nhAC4IAbgj4U2Gwu77/AJqmJhd27pWDUrEQstl9Oj1ti8KC8/mfFVAFst7m9spWWyZuh+3bK/OEa2L2ZltMNNnpcALnPR7xZXD+Nzti4HnGX2Ffm7Ho2vMDN8v0jJ18OXzhp6JBjUHjfmcNJZoOZsY+0zJseN3SO0baPYC3SmVqZthxY6VzIu3t/SCRAwPRYuwxXImEfAwDy9+eFGpfKbanFvz23wuAOJ6AlGfSqnSI/b3jlQ8XvLkmwPYW7CLja/V8e1DyND/ga2vRwjlN47HvKVTHJs6wSqr7B6jtMqxU9LDiysbCPtv/AOGvoNikNpxCxeFmO3sVWr/
				4J8695517zzr3glCrR7xCq1xPvL0GaqAwgWwcXv7SK4c3vC2oIGwfZUihzctIi3hW1bqZwQapa8Gede88695517zzr3lD0iFreDr8rYb0CwuGeMIFIViXmsImoUY99EnBpOQdZyL09vKE8Bm+zlXSc79JzT0YuNESbQZ5wml4E0vAlmnCNhc2fKqpDgObP8BhdeMpSzTWVEtA+oBlyPFnJJyL09vLE5l1fZyrpOf+k5p6M81k/MklCpqT/QJawOyWuKsTy7OUdbHBJyyDgPT2muwJ4TP2c6dJz30nNPRgv1UDgz/An+BP8CJRgKtmB8q8lm+lZQdITa1dm0dcmJkzLJ/cYEBwHWHgvT2ngE8Jn7OdOk5r6TnHoxk9AtXIn+cn+cn+cjdigFS+j8r4LN9Qd+NSF1sDAK45F6e2/aEFK/gvsYfR0nNfSc49GeCyfmfJZvqaFEqueh9y6iFZerVeLORentMF4UdpZ+74rGt5o3cHr6gxquBMeC12va6KBdV2tLOBXfOcejPBZPzNaiS4YtZ4BKMHbbOBKtDcgjO7HNnsyN85J1gMsZ4BPAJ4BHxUQ27U+pby2+Ps1laInlE+o+rPS7hDNXTYH3AMbNtePaIbVwwNXtH6VW1ZzD0ZdkBOJSeATwCeAR+JRLsBflNPg/Zp8H7NPg/ZWp4HvK6bphw9L9gRmnwfs0+D9mnwfs0+D9lEKoCza+lZ1QKw4fsQgQAUNLOdrFVq+l6CV6TT4P2afB+zT4P2afB+wQCiF2Y6/Kf/
				xAAqEAEAAQMDAwIHAQEBAAAAAAABEQAhMUFRYSBxgRCRMFChscHw8WDRgP/aAAgBAQABPxD5D9VbjYofWtRX/naSosBzRR91RUAdUD3WsTSgj2R5azC2FvKfTQNtkYG4n+EeQhCAGVak7NAhWZMDuuLClF0e3CXQWOAA0KnxU+KnxQ2rXcMum43lF4ol0TeNIC72e9fYXCgG+03/AMGjbBbCnIAg3GBAkzVBiEg3hQFxIQQEUyceTFoTYzAU6C4UiQ33J9qowP8AuhntCog1JurQnQ5NXtyUupEnj/BHab2SAegpfOl1JSomErk1UttWmk4Qypyrq13e6u73V3e6u73V3e6u73V3e6ougTERojHEJxVign3is51RCzVB+AvI10cRHj/AEyLHaXseN+Fd9HkeFXl2EcjBzULg2CW5N4oaZyhkbwV9aLKzVC+0+lLFTqCe0rWFw/dgk81MaFUp7NvJjMmrHdJK7676szxIpJM6U6irapwaI04uZTdVXcNDugUkHCOp8+HfZMSHYCSgAlQqSIANUUGG3IBMNXyHDiFwkjWBOakotcRoADwF
				WGDx2DbLciU6QGft6KpptRfO7BrM4H28JHlHzUZiEifFxSu6DWyaIzEkJCd9ZHuO1HUvpo5ly7oXCEm9Jz7Kk0Yu4sitFqTcqG9K0AMrrsEGZpxaa0u7eJAAV9nJIDccI/PcQ2zK5FWcFgW1aflOy0QDbvlBjcFkUiLGYcPQAaFR5qPNR5op6kOhpDjtSKBSKHVF7wDzVlPpBWmYODsqn52wI3knF4HBprdIEpkwS5IkmAKh6XQRzZtsS5gJGBH8vKwRvmb4mVSIpQjzQQ7mGuS1RZE7Qg1Oc7zNZEazPKdhWfnYcGAkpQsACq2ApDREMKzfKaZG9jCW9S7tOEWUxw1fBQvEGAHJdsLTlBLjXn7Cn7osC9z7VDHW3iM+tNYGWgO0uE7IaL7kHJ6NPEeW3oab4F2JZRNhW6GGRR4bAYQZgZKw4RQUL9h6uEl6MIksgZVS7tS6oLK+vEWz5CIJD2sBw8s/CZJcB87F+gvibiWm7m/AVO4oHwAJRsAGWiS+ReeJBGtg5COGhB4aMYXnkM9IthyCQORoyTp/ZQi5mbwy2xWPZggYt4CwsKK9AaVjiYAFlShIoBU9EI4Ga1BtjMSFtQFy1CwldxS/TQCPcitNfkuMiVC1WIA9qKE7/ORU
				+NhUmBER3RUir5yMFGVLdVvLS0PJvoAXVUAKNzEIQJDR/Bj8ENqVACLcsDUwJERqBCQ8xIhJZ+ZG8SDQgyaSrviGlm4kR9D7RgwgDYJAGwNXhXhR1YQHEcyjXXAC3zkbFC61IECAiJS9r6BDBhJOrwUJExAD8NcGGxw42YkLagLm6kiQQbm5YCwNq+js3PCwI1L3wXPqQ9AFnSGRLagT5wrWK4CI82Dlp1+4y+W1VK96WCVZxm8EikkkqtC1FA5zKwC6q6/EFTjABOUEiAsD6NFjNlYPD/FQqNJnSJMrRBkgJmRmpQmJi8fNzXvtQ+BILxNd/wBaEgTc3q9Ef4XPxT+dkROplc7AvMW7k1ytrZkey0wc13/WlRo87yTCG52+cOMCGHAse8e1dlCnNW3hAT8UhxGSSCOQHRDTBcgKACvmEE+xTJxXZT+VOuax5FZ+bqIKHY0n/nXZRBaZN4A9l9h+OqwdWICTlCcpXZ6FbTG6t77fOB2LsZUdijXYmvOovrn1Z3ZJ7nx15a0UiD1Fe0N686k/m/JN7iOUpyYpKIsgJg/
				OATMfAUaA6qRyVNSBAUE4RETcomezgQcPCU6B8dB8QTjBoJFCON1U6gFomKyxZdlKAM6/OXNoRxaJFm8wsDo+AkIUYR3oIrxgNiYAKEWC5K+Ld0OKch6hyQNyNS5VusFJdSqrdWkHABZABdVQAytKHM+TpIBFJF4+nzpF4TAHBaTEgEgpWKMGdAhWo0EJnTCUTC6B1AWoyUJaSB/GT4a+1rzgZBkAuqFQl9csqQYsvy2DBPOovySCCAIyglIiCYHzy7+bkioRhhdlzAUhR2JAq1dKBcomSUVJ7Vo0QVMBkkBNvgqHiIBpIZQLExKSVPUoqJkmtMWUGUAUY0i5xgWhiy3CQkEkyKvDaG8qgCaoJRg+eGHngnLrIIjZGr9/wAWysrD4stDHem4qDYVtNXjhJMiN6trw8TW77XlKLHPYW3Z+ANAJER1PXlpygqNY2bk0G6G0gOagxxMDYhq2ouxuGpRXqroKYMAWCwBUad8RMzsQbBsSkAoG1UjQxGtcIShW78+IFlSZaELIiiNkalhtEqXVkJdXNgApL4Jgu2hyOEqVSJ/KWYRLjWFXGfsORwFETyxMe7OiI9CJe5P1q2z9Q+cPgpBgANgqfFDUAlbBvT+YEoyISGXBnCiUS/2rDDnPfYTAEH
				+BnmMhmbwu3gB1GnDKVDuhadgCLTqqRCyAO5EHg8U4vlMhoiVHj3qPHvTQBWxdoe5MPcxUA5aW64oOtUoPC6g+ODh1gywiGEg/w1iWxCI2uURRkhfYUlOSm2+yim+nMJ+f3qI2sIDsBY/8GBQoU0jSCTUuzlHtUP0MEObOFzYFpAi0xgr5tsARh0RKiNiRgRPF6ZAzSYEB401dRbVaAEqsAHQi2gNcIosBal3M6RC8qdacU2spFNdhVYXNekKFChcnMmgnFJQkRv0FztM7OjESxv6xIh00OvvqfWnqAXN8rfztzRgghIjI1ZX3YzgYbMIdUQ7AQYwWllFBhEqwWy+gnzuIl2N10C7RRcwAryCkeXxTEc4AT2FCJ44PsyUDg5PsKB8tYG5EanJJ6rInfYwEssHTEiRIkTXECwVgDAFFzvxn4xEsb04JMYS7QlNtSe9HKGrKiROlaE7bEAllgpGpnABWAMAeKLnfjPRiJY3pH1m1kDIHC96vG1hg3BESHDbDTE0GCTCUl7HDtZwPIeTT1jH5GQXMNpCCdBdqPmXcosvDTdQ1pk2AMX
				cYgnsV3nvRYykYMggSjBb0fWZ+kemcSNFUWBgoTpvGVhNUSiykbNNsVKQJTuEPFcIfc1EZ83Ta5Rc4L0EEmJqs4mKviSlcwwSgSS4qEnRcmTBO/BUCFhgGHojXRNK2+xMJmThen6FCMLyCD9aCheZSBmW5aRuSb0yNmQaTXsbGAs2m2ydTQD+lVJN6C5J1GXAGqYDvTAmBc/kbtXBBRuTLjvEwt3cQa1CAQeBPopDakCue1LcoYZOFmOBI5qCryMj97I7U/grCMQe02TR4Sajs4Cpf/ESMLYdhX6P+a/R/zX6P+aTOaVIkV3lVq0T6MSfmCyOeG52b70BIKJEw9EOnB1c2V8O6JpjUze9BS9ANcLd3B7HVSNRB9VvHDJyRhaaVZMqJEpJSG+hOHvrsC6VYcNkyrAbFgNgKGIjlkaL3X3VyB6zG/kdrpACI3EfTIK7yeAvagN1WYGBYG1WQYcAZVQA3plWyJQUdlK40X66ku56agOcVE33ToIrMTR51MU3FFbc6YfwCPdE1RuZh/
				X0ao1JZNL2eFNaC3tOBMiOiNRpXdh4/Wu7pi/UyqR70kUEwBtMLm8gNRanEg1sYVGsxbCsXBOkNijWndcZfuthqBw7NAlm4kOGHIUdgSMHJ5EqGTgaJD0jHuiagVYXpJ3QS9xTWpv8A5zJlaj9GRuNQgJhD2b7v+J9Y9OCo5SqY90TVG5mG9N78BpBsialHSXuKXXXeRG4ms0iSMAZCrguTuNFJMYwwtQ3hbYGFac0rwrCw9rsep3vvQHYvoCRBQiJkfTVq2z8KFK6xHJpEbUSgFDEggiSjosTEcOhIYc1xglUQnpaC80HJT6KCTmhyqYouMqKScIQDGgFXY6KaaSIO4HkagAbvROuiaIzMw/ri7Fa/Is3vCdiXBQsDHShgA1Vr8/QQfT0v5Kv5Kv5Kv5KhLrQwiqk
				+6VRdgmAtB5aEgUKUQl8teeqIIAACqAsAsOCkCwjkE7IL2KgsxFLDMZy7IcofNfyVfyVfyVPE4XRkDwE8VHuiaIRMwlTZJy4731rayYhTZuyA2fqJw0F9caIfsMNcmoekPnB0cnVke6JojMzD+vFgSzlIYfeE1FNaTKwm4JqOokI6iNDsOLpJKcpBy7DWKjkZEB6y/qpvuvpCDWO4yKVnuf0phdlFSdUyG4q2s2siO5n9AJgEhK+EEgTIlxpxTnX6Zi75aJfu3RQmYnXpzCYr+NqBuHFQA1dAALqnRs2bGDK1glQAVWwD0eZpPY0U0BALhPHp6VYDljyJbtNKgBcg69jV4CagpjaQtgZnvOoMw1Itnr7n3r9k/Ffsn4r9k/Ffsn4og00GyJpQTSI2zUqw3fei2FkZAkj1WMeRV+wFCKiM6Ez3XtUZnBV5I3IogBDATuNfsn4r9k/Ffsn4ps7yUBpVyRHslROdcV5PRtcnFkGrjq8NkgsjL0D7jkezVw2RoNAf8mTZahM4KnlKqic64NOr6mR9ayjE8MmxulO4Q93S2/
				Bil0TxiMv3HRBomrw7OiaIyJoieveqb7r6563wFy6dFI1bxBGFu6iTq/wuZ3z5qUZz0hMgARyNEwFdGYATuInjoNYnyLgQ+X2Gs5mKnix6YdqH4D5StNOLuBHZIea/kn/afgWAH3JeCmhyAJm5jswG80YDx4IgALAGlTHZqf3fpj+8cqm+9ZeInrHn/ooIL0JVEXM3M4lGj0trSyBlR2AWoRi+EG5jZHinIS4wgzekjGx5r526Zjc6ItzeuknMw6LgaDRk3CqXpyFluDqGTskIIIXPpAL/AHh1EaiWxV86VMbnTDuX0IGShFSjoALS54A126NHJdiFIHAgNMMe/kbqsFkbcNsZ4JLyoSiHkhYOLBxB1Xr4e9TTdvVOiJhGjc0gbiWUEEibwIdo5TAjpXNAkZ/zBUt873SzbWJ52EaUoT1GlxiMOiSyg2/Qa+xw0qr
				+tQKGJ6MLcgNvDuU3U+AMubNq/oq4Ir4JJcM/AfKUQPbpNy9qwv6f++cqme7UXNECCUR1Uy7mKjPIFANkTS8qd0wqNb0AY1WcGz6tmkOCZVcVYxiuzJE2pLqBFCqBH2jJ7yLNl0pNRzarlG/T8LnVEOXok6XViVgGGbaJiw0tNpapeNiZVo2wtOxDghhG4wlq5Kp4XOqA7J6ZTtlqdaV7eBsrFUIUSsXfENgV4qGoARQAaAAVbnsBJL8wvzcbLV5cOTUbiAnfegUTiez53HLDoPTupHwN0frGQrFpX0IKxUntckEdwTRqYalNzQlIMrg4pKCkAb2AFitEopU4ioCGxhogPEnRSIEA5IslVTWw7QFJTlRFdDuqCN20sihWwk1iWUCQRhsjRduFQCBIWGqmq06CkL1vGWnA6NUAVi0RNEozLXIVcxdURijOgozjggwNbBllcqtaURTyuw7Y/W8hGNHoIECF9mbf
				+rIKkkTHRrGaolOOkpBs9Udzpjvf2VJt6UAxQhImzTLGT5Zuh9FfRJhwuyRBHV2OA0TmI7nGIz2CkYcsePCb3p4pSzPsFe1JaoRU2yJkGLOhYklJoQg5lZX9wT2CAAqHzg6U0EwXjzCGWdjo5cuRZeJFgYmXBe9Rrs0wOdfoIgcgHQo1EqUaChLMts1aORCO5XN1DGuzTEZ1K8tS2TC5bSLuwtSGk0W5Cq6qqrytYGRy6BLswbBqvq9qa+xnlC/JDhcTURGW45I7WS4VmtuJHttQI9tujp06TK2wtJhZsMaVCcjUK0z1ikwSWA9A9k6RhUiDDqPT06dOgXSthMCCyxGZv6FhozidyuEYJgmCZpE07pa5LRyrzQfgizg1XRG1sTVuDrYBviggfPnoAsAAAY9CDdXMBkiFxo9PTp06CwVQCwCshIJbXo74eDnmVs
				+tElwBCsgF5HSmDPOAijmHqcmoKoiuquYLkKAJSL29cm1nld1CFyFpDoRMxO4KGIwVBlyNAVULsNCD2kUMqRczABYOD1JnRHCCBdpenz58+Ud8kLLygGVpRHJ4OeZWz60XnkEJ0ALyOnQ0Mi6NokI7lFRWUd9ELLygGVpRHJ4OeZWz60ESIlDABeRUVugVAwF3UpmVdgA0AXEW4CEGWyNekEDR85mOBkxMCsQQVE0/D4iEIUgd+Kv/2Q== 
" />
				<br><br>
				<div align='center'>
					1 cité Paradis<br>
					75010 PARIS<br>
					Capital social : 50,000 €<br>
					RCS Paris 815336649<br>
					N°TVA FR50815336649<br>
				</div>
			</td>
			<td width="25%"  valign='middle'>
				<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="celltitle">N° Client</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="cli_link"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">N° Facture</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="id_inv"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">N° commande</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="cde_no"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">N° cde client</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="cli_ref_id"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="celldata">&nbsp;</td>
				</tr>
				<tr>
					<td class="celltitle">Date de commande</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="date_order"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">Date d'expédition</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="date_ship"></qbook-value></td>
				</tr>
				</table>
				<br>
				<table width="100%" style="border: 2px solid red"><tr><td>
				<font color="red">
				Pour être libératoire, votre règlement doit être effectué directement à l'ordre de <b>Crédit Agricole Leasing &amp; Factoring - 12 place des Etats-Unis - CS 20001 - 92548 Montrouge Cedex - France</b>, qui le reçoit par subrogation dans le cadre d'un contrat d'affacturage et devra être avisé de toute réclamation relative à cette créance.
				</font>
				</td></tr></table>
			<td>
		</tr></table>
		
		<br><br>
		
		<qbook-table src_qobj="dummy"></qbook-table>
		
		<br><br>
		
		<table class='invoicewidth'><tr>
			<td width="33%" valign="bottom">
				<table width="100%" border="1" cellpadding="3">
				<tr>
					<td class="headertitle">Payment / Details</td>
				</tr>
				<tr>
					<td height="90" valign="top"><qbook-value src_value="pay_bank"></qbook-value></td>
				</tr>
				</table>
			</td>
			
			<td width="33%" valign="middle" align="center">
				<table width="50%" cellpadding="1">
				<tr>
					<td class="celltitle">Date de facture</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="date_invoice"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">Echéance</td>
					<td>&nbsp;</td>
					<td class="celldata">30 jours</qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">Date d'échéance</td>
					<td>&nbsp;</td>
					<td class="celldata"><qbook-value src_value="date_due"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">Mode de réglement</td>
					<td>&nbsp;</td>
					<td class="celldata">Virement</td>
				</tr>
				<tr>
					<td class="celltitle">Devise</td>
					<td>&nbsp;</td>
					<td class="celldata">EUR</td>
				</tr>
				</table>
			</td>
		
			<td width="33%" valign="middle" align="center">
				<table width="50%" cellpadding="1">
				<tr>
					<td class="celltitle">Total HT</td>
					<td>&nbsp;</td>
					<td class="celldata" align="right"><qbook-value src_value="calc_amount_novat"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="celldata">&nbsp;</td>
				</tr>
				<tr>
					<td class="celltitle">TVA</td>
					<td>&nbsp;</td>
					<td class="celldata" align="right"><qbook-value src_value="calc_vat"></qbook-value></td>
				</tr>
				<tr>
					<td class="celltitle">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="celldata">&nbsp;</td>
				</tr>
				<tr>
					<td class="celltitle">Total A PAYER</td>
					<td>&nbsp;</td>
					<td class="celldata" align="right"><qbook-value src_value="calc_amount_final"></qbook-value></td>
				</tr>
				</table>
			</td>
		</tr></table>
		
		<br>
		
		<table class='invoicewidth'><tr>
			<td width="33%" valign="middle" align="center">
				Escompte pour paiement anticipé : Néant
			</td>
			
			<td width="33%" valign="middle" align="center">
				&nbsp;
			</td>
		
			<td width="33%" valign="middle" align="center">
				En cas de retard de paiement, des pénalités seront calculées sur la base de 1 fois et demi le taux d’intérêt légal en vigueur par jour de retard. Une amende forfaitaire de 40 € sera appliquée pour frais de recouvrement.
			</td>
		</tr></table>
		
	</body>
</html>
