	<style type="text/css">
		.div_signature {
			width: 39% ;
			margin-left: 60% ;
			height: 70px ;
		}
		.signature_text {
			font-size: 15px ;
		}
	</style>
	
<!--
<div style="font-size:14px; border:1px solid gray; margin:0px 50px" align='center'>
<i>Moyens de paiement à votre disposition</i>
</div>
-->

<div class='div_signature'>
	<div style='height:95px'>&nbsp;</div>
	<div class='signature_text'>
		<b><qbook-value src_value="soc_footer_name_eng"></qbook-value></b><br>
		Phone&nbsp;:&nbsp;<qbook-value src_value="soc_footer_phone"></qbook-value><br>
		Email&nbsp;:&nbsp;<qbook-value src_value="soc_footer_email"></qbook-value><br>
	</div>
</div>
