 
		<table class='letterwidth' style="border-top: 1px dashed black ; "><tr>
			<td width="100%" valign="top" align="center" style="font-size:14px; margin:10px ; padding:4px">
				OUTSTANDING AMOUNT : <b><qbook-value src_value="footer_balance"></qbook-value></b>
				<br>
				Please add following reference in all correspondence : <b><qbook-value src_value="footer_ref_client"></qbook-value></b>
				<br>
				
				<!--
				<br><br>
				
				<qbook-value src_value="footer_barcode_img"></qbook-value>
				<br><br>
				-->
			</td>
		</tr></table>
