 
		<table class='letterwidth' style="border:1px solid gray ; "><tr>
			<td width="100%" valign="top" align="center" style="font-size:14px; margin:10px ; padding:4px">
				<i>Coupon à joindre à votre chèque</i><br>
				Réf. Client : <b><qbook-value src_value="footer_ref_client"></qbook-value></b>
				&nbsp;//&nbsp;
				Réf. dossier : <b><qbook-value src_value="footer_ref_file"></qbook-value></b>
				&nbsp;//&nbsp;
				MONTANT : <b><qbook-value src_value="footer_balance"></qbook-value></b>
				
				<br><br>
				
				<qbook-value src_value="footer_barcode_img"></qbook-value>
				<br><br>
			</td>
		</tr></table>
